/* Media widget */
form .js-media-library-widget .fieldset-wrapper {
  padding: 8px;
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
}
form .image-widget {
  padding: 0 16px 16px;
}
@media (min-width: 576px) {
  form .image-widget {
    justify-content: center;
  }
}
@media (min-width: 576px) {
  form .image-widget article {
    flex: 1 0 220px;
  }
}
/* File name */
form .image-widget article > div {
  font-size: 14px;
}
@media (min-width: 576px) {
  form .image-widget article > div {
    font-size: 14px;
  }
}
form .image-widget .js-media-library-item-preview {
  max-width: 220px;
  max-height: 147px;
}
.node-announcement-form .image-widget .js-media-library-item-preview,
.node-announcement-edit-form .image-widget .js-media-library-item-preview {
  max-width: 600px;
  max-height: 200px;
}

/* Prevent empty divs from taking up space */
form .js-media-library-widget .js-media-library-selection.form-wrapper,
.js-media-library-add-form .field--type-image {
  margin-top: 0;
}
.js-media-library-add-form .image-widget {
  padding: 0;
}
