/**
 * Base form elements.
 *
 * This provides basic styling for form elements in the main-content content area.
 */
form input,
form label,
form button,
form select,
form textarea {
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
}
form button,
/* Apply styles to field UI buttons
  with some exceptions (Notably "Save" buttons) */
form:not(.subscription-form):not(.community-topics-form) .form-item .cd-button {
  margin: 0 12px 0 0;
  padding: 12px;
  color: white;
  border: 2px solid transparent;
  outline: none;
  background: var(--cd-reliefweb-brand-blue--dark);
  font-size: 15px;
  font-weight: bold;
}
form button:hover,
form button:focus,
form button:active,
form:not(.subscription-form):not(.community-topics-form) .form-item .cd-button:hover,
form:not(.subscription-form):not(.community-topics-form) .form-item .cd-button:focus,
form:not(.subscription-form):not(.community-topics-form) .form-item .cd-button:active {
  text-decoration: underline;
  background: var(--cd-reliefweb-brand-red--dark);
}
form button:focus,
form:not(.subscription-form):not(.community-topics-form) .form-item .cd-button:focus {
  text-decoration: underline;
  border: 2px solid var(--cd-reliefweb-brand-grey--dark);
}
form:not('.subscription-form'):not('community-topics-form') .form-item .cd-button {
  transition: none;
  border-radius: 0;
}
form input[type="text"],
form input[type="search"],
form input[type="password"],
form input[type="url"] {
  display: block;
  width: 100%;
  height: 46px;
  margin: 0;
  padding: 12px;
  border: 2px solid var(--cd-reliefweb-brand-grey--light);
  background: white;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="file"] {
  max-width: unset;
}

form textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 12px;
  resize: vertical;
  border: 2px solid var(--cd-reliefweb-brand-grey--light);
  background: white;
  /* Better readability similar to paragraphs. */
  line-height: 1.5;
}
form select {
  font-size: 16px;
}
form select[multiple] {
  display: block;
  min-width: 200px;
  padding: 4px;
}
form label,
  /* We display nested legends similarly to labels. */
form fieldset fieldset legend {
  display: inline-block;
  margin: 0 0 6px 0;
  font-size: 16px;
  font-weight: bold;
}
form label:first-letter {
  /* Try to have some consistency. */
  text-transform: capitalize;
}
form fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
form fieldset legend {
  margin: 0;
  padding: 0;
}
form > div > fieldset > legend,
form > fieldset > legend,
form > section > h3 {
  position: relative;
  display: block;
  margin: 0 0 24px 0;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
form > div > fieldset > legend.accessibility,
form > fieldset > legend.accessibility,
form > section > h3.accessibility {
  position: absolute;
  margin: 0;
  padding: 0;
}
/* This is unfortunately needed to have consistent behavior across browsers. */
form fieldset > legend {
  float: left;
}
form fieldset > legend + *,
form fieldset > legend + * + * {
  clear: both;
}

/**
 * Loading overlay.
 *
 * Ensures the loading overlay (see loading overlay component) uses the entire
 * viewport.
 */
form[data-loading]:before,
form[data-loading]:after {
  position: fixed;
}

/**
 * Drupal form elements.
 *
 * Styling of the Drupal for elements. Due to the way those elements are
 * (often unnecessarily) wrapped etc., we cannot rely only on the basic form
 * styling.
 */
form .form-type-checkbox,
form .form-type-radio {
  display: block;
  margin-right: 24px;
  padding: 4px 0;
}
form .form-type-checkbox:last-child,
form .form-type-radio:last-child {
  margin-right: 0;
}
form .form-type-checkbox input,
form .form-type-radio input {
  display: inline;
  width: 16px;
  height: 16px;
  margin: -1px 0 0 0;
  vertical-align: middle;
}
form .form-type-checkbox label,
form .form-type-radio label {
  display: inline;
  margin: 6px;
  font-weight: normal;
  line-height: 1.5;
}
form > * .form-wrapper,
form > * .form-item {
  margin-top: 24px;
}
form > * .form-wrapper.form-item:first-child .fieldset-wrapper > label:first-child,
fieldset > legend + .form-wrapper > h4 {
  margin: 0 0 6px;
}
form > * .form-wrapper.form-item:first-child .fieldset-wrapper > label {
  margin: 24px 0 6px;
}
form .form-actions.form-item {
  margin-top: 8px;
}
/* First descendant. */
form legend + .form-item,
form legend + .form-wrapper,
form .description + .form-item,
form .description + .form-wrapper,
form .form-item:first-child,
form .form-wrapper:first-child {
  margin-top: 0;
}
form .description {
  padding: 6px 0 0 0;
  font-size: 15px;
  font-style: italic;
  line-height: 1.5;
}
form .description a {
  text-decoration: underline;
}
form .description a:hover,
form .description a:active,
form .description a:focus {
  text-decoration: underline;
  background: var(--cd-reliefweb-brand-grey--light);
}
form .description + div {
  margin-top: 8px;
}
form .description ul {
  margin: 0;
  padding: 0 0 0 16px;
}
/* "Enhanced" forms flags optional fields instead of required fields. */
form[data-enhanced] .form-optional {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}
form[data-enhanced] .form-required::after {
  content: none;
}
form .form-disabled [data-irrelevant]:after {
  display: block;
  clear: both;
  content: attr(data-irrelevant);
  font-style: italic;
}
form .form-disabled [data-irrelevant] > div {
  display: none;
}
form input[disabled],
form textarea[disabled] {
  background: var(--cd-reliefweb-brand-grey--light);
  background: var(--cd-reliefweb-grey--disable);
}
form input[disabled] + label {
  opacity: 0.6;
}
form .notice {
  padding: 32px;
  background: var(--cd-reliefweb-brand-grey--light);
}
form .notice :first-child {
  margin-top: 0;
  padding-top: 0;
}
form input.error,
form textarea.error,
form select.error,
form fieldset.error > .fieldset-content {
  outline: 2px solid var(--cd-reliefweb-brand-red);
  outline-offset: -2px;
}
form fieldset.error .form-radio.error,
form fieldset.error .form-checkbox.error {
  outline: initial;
  outline-offset: initial;
}
form fieldset > legend + a[href="#edit-actions"],
form fieldset > legend + a[href="#actions"] {
  position: absolute;
  right: 0;
  margin-top: 4px;
  text-transform: lowercase;
  font-weight: bold;
  font-variant: small-caps;
}
form #actions {
  padding: 0 12px 12px;
  text-align: center;
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
  background: var(--cd-reliefweb-brand-grey--light);
  background: rgba(230, 236, 239, 0.4);
}
form #actions .cd-button {
  margin-top: 12px;
}
form #actions + * {
  border-top: none;
}
form button:last-child {
  margin-right: 0;
}
form div.form-actions {
  width: auto;
  min-width: 100%;
}
form .form-item + button,
form button.form-actions {
  margin-top: 16px;
}
form .messages + * {
  margin-top: 12px;
}

/**
 * List of checkboxes/radios.
 *
 * Display checkboxes and radios inline.
 */
form .form-checkboxes,
form .form-radios {
  /* Compensate for the padding around the checkbox and radio wrapper. */
  margin: -4px 0;
}
form .form-checkboxes .form-type-checkbox,
form .form-radios .form-type-radio {
  display: inline-block;
  margin-top: 0;
  margin-right: 24px;
}

/**
 * Details fieldset.
 *
 * Display the checkboxes and radios one per line instead of inline as there
 * are often lots of choices and this improves readability. On large screens
 * we display them in 2 or 3 columns.
 */
form .fieldset-wrapper .form-radios .form-item,
form fieldset.details .form-checkboxes .form-item,
form fieldset.details .form-radios .form-item {
  display: block;
  margin-top: 0;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  form .fieldset-wrapper .form-radios,
  form fieldset.details .form-checkboxes,
  form fieldset.details .form-radios {
    column-count: 2;
  }

  form .fieldset-wrapper .form-radios .form-item,
  form fieldset.details .form-checkboxes .form-item,
  form fieldset.details .form-radios .form-item {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  form .fieldset-wrapper .form-radios,
  form fieldset.details .form-checkboxes,
  form fieldset.details .form-radios {
    column-count: 3;
  }
}

/**
 * Specific fields.
 */
form .text-summary-wrapper {
  display: none;
}
form .book-outline-form > div {
  margin-bottom: 8px;
}
form > #actions legend + .form-type-checkbox {
  margin-bottom: 24px;
}
form #legal {
  text-align: center;
}
form #legal .form-item-legal {
  margin-top: 0;
}
form .field-type-file .form-type-managed-file > label {
  display: none;
}
form .field-widget-date-select .fieldset-content label,
form .field-widget-date-select .fieldset-content div {
  display: inline-block;
  margin: 0;
  font-weight: normal;
}
form .field-widget-date-select .fieldset-content div.form-type-select {
  margin: 6px 12px 0 0;
}
form .field-widget-date-select .fieldset-content div.form-type-select:last-child {
  margin: 0;
}
form .age-textfield {
  display: none;
}
form .user-posts-links.form-wrapper:first-child {
  padding-top: 8px;
  text-align: center;
}
form #edit-organization .form-type-checkbox,
form #edit-organization .form-type-radio {
  display: block;
  margin-right: 0;
}
form #edit-organization #edit-field-source-allowed .form-item:last-child {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 2px dotted var(--cd-reliefweb-brand-grey--light);
}

/* Embargo Date .field--name-field-embargo-date */
.field--widget-datetime-datelist .fieldset-wrapper .form-type-select {
  display: inline-block;
  margin: 0;
}

/* Term form Disable Notifications checkbox is inside #actions fieldset */
form > #actions legend + .form-type-checkbox.form-item-notifications-content-disable,
.form-item-notifications-content-disable + .form-actions {
  margin: 8px 0 0 0;
}

/* Text format wrapper */
.form-type-textarea + .filter-wrapper.form-wrapper {
  margin-top: 0;
}
.filter-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid var(--cd-reliefweb-brand-grey--light);
  border-top: none;
  background: var(--cd-reliefweb-brand-grey--light);
}
.filter-wrapper * {
  font-size: 14px;
}
.filter-wrapper .filter-help {
  display: flex;
  float: none;
  flex-grow: 1;
  justify-content: flex-end;
  order: 1;
}
.filter-wrapper .filter-help a:after {
  top: 2px;
}
.filter-wrapper select {
  padding: 0 4px;
}
.filter-wrapper ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}

form [data-lengthchecker-status] {
  margin-top: -2px;
  padding: 8px;
  background-color: var(--cd-reliefweb-pink);
  font-size: 15px;
  line-height: 1.2;
}
form [data-lengthchecker-status="ok"] {
  background-color: var(--cd-reliefweb-green--bg);
}

/* New Organisation field for Jobs */
.node-form fieldset.field-new-source-wrapper {
  margin-top: 24px;
}

/**
 * Text formatter buttons.
 *
 * Style for the buttons to alter the text format of an input or textarea.
 */
form [data-with-formatting] {
  position: relative;
}
form button[data-formatter] {
  margin-right: 4px;
  padding: 8px;
  font-size: 14px;
}
form button[data-formatter]:last-child {
  margin-right: 0;
}
form button[data-formatter="pdf"] {
  /* Display the format PDf button in the top right corner above the textarea.
   * The editorial team is used to this position. */
  position: absolute;
  top: -8px;
  right: 0;
}
/* Show/Hide row weight button */
.tabledrag-toggle-weight {
  padding: 8px;
  font-size: 14px;
}

/* Add/Clear/Edit buttons for field UI */
form button[value="add"],
form button[value="clear"],
form button[value="edit"] {
  padding: 8px;
  font-size: 14px;
}

/* Inline error messages. */
.form-item--error-message,
.cd-form__error-message {
  background-color: var(--cd-reliefweb-pink);
  font-size: 15px;
}

/* Preview button */
input[data-drupal-selector="edit-preview"] {
  background-color: var(--cd-grey--dark);
}
input[data-drupal-selector="edit-preview"]:hover,
input[data-drupal-selector="edit-preview"]:focus {
  background-color: var(--cd-grey--mid);
}
input[data-drupal-selector="edit-preview"]:focus {
  border: 2px solid var(--cd-black);
}

/* legends with the required class need some extra rules. */
legend.form-required::after {
  display: inline-block;
  vertical-align: top;
}

/* Actions on classic forms without a sidebar. */
form:not(.rw-entity-form-altered) .form-actions.form-item {
  margin-top: var(--cd-flow-space, 2.5rem);
}
