/* Media widget */
form .js-media-library-widget .fieldset-wrapper {
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
}
form .image-widget {
  padding: 0 0 16px;
}

@media (min-width: 576px) {
  form .image-widget {
    justify-content: center;
  }
}

form .image-widget .js-media-library-item-preview {
  width: 220px;
  height: auto;
}
form .image-widget .js-media-library-item-preview img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* File name */
form .image-widget article > div {
  font-size: 14px;
}
@media (min-width: 576px) {
  form .image-widget article > div {
    font-size: 14px;
  }
}

.node-announcement-edit-form .image-widget .js-media-library-item-preview {
  width: auto;
  max-width: 600px;
  height: auto;
  max-height: 200px;
}
.node-announcement-edit-form .image-widget .js-media-library-item-preview img {
  width: auto;
}

/* Prevent empty divs from taking up space */
form .js-media-library-widget .js-media-library-selection.form-wrapper,
.js-media-library-add-form .field--type-image {
  margin-top: 0;
}
.js-media-library-add-form .image-widget {
  padding: 0;
}

form .views-field-media-library-select-form .form-type-checkbox:only-of-type {
  margin-right: 24px;
}
/* Media UI buttons styled the same as other UI buttons */
.ui-dialog .ui-dialog-buttonpane .cd-button,
.view-media-library .cd-button,
.js-media-library-add-form-added-media .cd-button {
  padding: 14px;
  transition: none;
  color: white;
  border: none;
  border-radius: 0;
  background: var(--cd-reliefweb-brand-blue--dark);
  font-size: 15px;
  font-weight: bold;
}
.ui-dialog .ui-dialog-buttonpane .cd-button:hover,
.ui-dialog .ui-dialog-buttonpane .cd-button:focus,
.ui-dialog .ui-dialog-buttonpane .cd-button:active,
.view-media-library .cd-button:hover,
.view-media-library .cd-button:focus,
.view-media-library .cd-button:active,
.js-media-library-add-form-added-media .cd-button:hover,
.js-media-library-add-form-added-media .cd-button:focus,
.js-media-library-add-form-added-media .cd-button:active {
  text-decoration: underline;
  background: var(--cd-reliefweb-brand-red--dark);
}
