.rw-river-article > header .rw-river-article__title,
.rw-river-article > .rw-river-article__title {
  display: inline;
  margin: 0;
  color: #055372;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
}
.rw-river-article > header .rw-river-article__title a,
.rw-river-article > .rw-river-article__title a {
  color: inherit;
}

/**
 * Sub article.
 *
 * Articles in a section like headlines etc.
 */
.rw-river-article {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  border-top: 1px solid #e6ecef;
}
.rw-river-article:first-child {
  border-top: none;
}
.rw-river-article header {
  /* Compensate the half-leading space from the title line-height. */
  margin-top: -5px;
}
.rw-river-article header p.rw-entity-country-slug {
  margin: 2px 6px 0 0;
  padding: 1px 8px;
  font-size: 14px;
  line-height: 22px;
}
.rw-river-article > header .title,
.rw-river-article > .title {
  display: inline;
  margin: 0;
  color: #055372;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
}
.rw-river-article > header .title a,
.rw-river-article > .title a {
  color: inherit;
}
.rw-river-article .rw-river-article__content {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding-top: 16px;
  /* #2e3436 with 0.85 opacity on white. */
  color: #4d5254;
}
/* Article with a thumbnail preview (typically Map and Infographic). */
.rw-river-article .rw-river-article__content img {
  float: left;
  max-height: 118px;
  margin: 2px 20px 0 0;
  border: 1px solid #e6ecef;
}
.rw-river-article .rw-river-article__content img + p {
  margin-top: 0;
}

@media all and (max-width: 479px) {
  .rw-river-article .rw-river-article__content img {
    display: none;
  }
}
.rw-river-article footer {
  /* Clear any floating from the content. */
  clear: both;
  /* Compensate  the half-leading space added by the line-height of the <dl>. */
  margin-bottom: -8px;
  padding-top: 16px;
}
.rw-river-article header + footer {
  padding-top: 12px;
}
