/**
 * Appeals and Response Plans.
 *
 * Block with a list of Appeals and Response plans and their document cover.
 */
.rw-river--appeals-response-plans article {
  display: flex;
  flex-direction: column;
  min-height: 212px;
  padding-left: 164px;
}
.rw-river--appeals-response-plans article header {
  flex: 1 0 auto;
}
.rw-river--appeals-response-plans .rw-river-article__content img {
  position: absolute;
  top: 0;
  left: 8px;
  overflow: hidden;
  clip: rect(0, 124px, 154px, 0);
  width: 124px;
  /* Reset max-height from the base.css. */
  max-height: none;
  margin: 0;
}
.rw-river--appeals-response-plans article .rw-river-article__content {
  padding: 0;
}
.rw-river--appeals-response-plans article .rw-river-article__content:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 170px;
  content: "";
  border: 8px solid #e6ecef;
  background: linear-gradient(rgba(230, 236, 239, 0) 50%, rgba(230, 236, 239, 0.8));
}

/* Hide the cover on small screens. */
@media screen and (max-width: 479px) {
  .rw-river--appeals-response-plans article {
    min-height: auto;
    padding-left: 0;
  }
  .rw-river--appeals-response-plans .rw-river-article__content {
    display: none;
  }
}
/* Two columns layout on large screens. */
@supports (display: grid) {
  @media screen {
    .rw-river--appeals-response-plans .rw-river__articles {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0 32px;
    }
    .rw-river--appeals-response-plans article:nth-last-child(2) {
      border-bottom: none;
    }
    .rw-river--appeals-response-plans article:nth-child(2) {
      margin-top: 0; /* Compensate for cd-flow top margin */
    }
    .rw-river--appeals-response-plans .rw-river__rw-river__view-more {
      margin-top: 12px;
    }
  }

  @media screen and (min-width: 1024px) {
    .rw-river--appeals-response-plans .rw-river__articles {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
