#main-content section article > header .rw-river-article__title,
#main-content section article > .rw-river-article__title {
  display: inline;
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
  color: #055372;
}
#main-content section article > header .rw-river-article__title a,
#main-content section article > .rw-river-article__title a {
  color: inherit;
}

/**
 * Maps and Infographics.
 *
 * Section with the maps and inforgraphics for the countries/disasters/sources.
 *
 * Scope: #main-content .rw-sectioned-content section.rw-river--maps-infographics
 */
@supports (display: grid) {
  #main-content .rw-sectioned-content section.rw-river--maps-infographics article {
    display: flex;
    flex-direction: column;
    min-height: 174px;
    padding-left: 222px;
  }
  #main-content .rw-sectioned-content section.rw-river--maps-infographics article header {
    flex: 1 0 auto;
  }
  #main-content .rw-sectioned-content section.rw-river--maps-infographics article .content img {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 174px;
    /* Reset max-height from the base.css. */
    max-height: none;
    margin: 0;
    clip: rect(0, 174px, 124px, 0);
    overflow: hidden;
  }
  #main-content .rw-sectioned-content section.rw-river--maps-infographics article .content p {
    margin-top: 0;
  }
  #main-content .rw-sectioned-content section.rw-river--maps-infographics article .content:after {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    width: 190px;
    height: 140px;
    border: 8px solid #e6ecef;
    background: linear-gradient(rgba(230, 236, 239, 0) 50%, rgba(230, 236, 239, 0.8));
  }
  #main-content .rw-sectioned-content section.rw-river--maps-infographics article dl.rw-entity-meta--core dd {
    display: inline;
  }
  #main-content .rw-sectioned-content section.rw-river--maps-infographics article dl.rw-entity-meta--core dd:after {
    display: block;
    width: 0;
    height: 0;
    margin: 0;
  }
  @media screen and (max-width : 479px) {
    #main-content .rw-sectioned-content section.rw-river--maps-infographics article {
      min-height: auto;
      padding-left: 0;
    }
    #main-content .rw-sectioned-content section.rw-river--maps-infographics article .content {
      display: none;
    }
  }
  /* Media queries. */
  @media screen and (min-width : 480px) {
    #main-content .rw-sectioned-content section.rw-river--maps-infographics .rw-river__articles {
      display: grid;
      grid-column-gap: 24px;
      grid-template-columns: repeat(1, 1fr);
      padding-top: 24px;
    }
    #main-content .rw-sectioned-content section.rw-river--maps-infographics article {
      justify-content: flex-end;
      min-height: auto;
      margin: 0;
      padding: 0 0 24px 0;
      border: none;
    }
    #main-content .rw-sectioned-content section.rw-river--maps-infographics article header {
      padding: 16px 16px 0 16px;
      flex: 1 0 auto;
      border: 1px solid #e6ecef;
      border-width: 0 1px;
    }
    #main-content .rw-sectioned-content section.rw-river--maps-infographics article .content {
      flex: none;
      position: relative;
      order: -1;
      width: 100%;
      margin: 0;
      padding: 60% 8px 8px 8px;
      overflow: hidden;
    }
    #main-content .rw-sectioned-content section.rw-river--maps-infographics article .content img {
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      clip: auto;
    }
    #main-content .rw-sectioned-content section.rw-river--maps-infographics article .content:after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    #main-content .rw-sectioned-content section.rw-river--maps-infographics article footer {
      margin: 0;
      padding: 16px 16px 8px 16px;
      border: 1px solid #e6ecef;
      border-width: 0 1px 1px 1px;
    }
    #main-content .rw-sectioned-content section.rw-river--maps-infographics .rw-river__articles {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width : 640px) {
    #main-content .rw-sectioned-content section.rw-river--maps-infographics .rw-river__articles {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width : 768px) {
    #main-content .rw-sectioned-content section.rw-river--maps-infographics .rw-river__articles {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width : 900px) {
    #main-content .rw-sectioned-content section.rw-river--maps-infographics .rw-river__articles {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
