<nav id="user-dashboard" aria-labelledby="user-dashboard-title" class="rw-user-dashboard">
  <h3 id="user-dashboard-title" class="visually-hidden">{% trans %}Dashboard{% endtrans %}</h3>
  <ul>
    <li>
      <a href="{{ url }}/edit">{% trans %}Edit your account details{% endtrans %}</a>
      <p>{% trans %}Edit your credentials and account information.{% endtrans %}</p>
    </li>
    <li>
      <a href="{{ url }}/user/notifications">{% trans %}Manage your subscriptions{% endtrans %}</a>
      <p>{% trans %}Setup and manage your email subscriptions to new reports, jobs and more.{% endtrans %}</p>
    </li>
    <li>
      <a href="{{ url }}/user/bookmarks">{% trans %}Manage your bookmarks{% endtrans %}</a>
      <p>{% trans %}Track content relevant to you on the site.{% endtrans %}</p>
    </li>
    <li>
      <a href="/node/add/job">{% trans %}Post a job vacancy{% endtrans %}</a>
      <p>{% trans %}Advertise job, consulting and internships vacancies.{% endtrans %}</p>
    </li>
    <li>
      <a href="/node/add/training">{% trans %}Post a training program{% endtrans %}</a>
      <p>{% trans %}Advertise training programs for the humanitarian community.{% endtrans %}</p>
    </li>
    <li>
      <a href="{{ url }}/user/posts">{% trans %}View your posts{% endtrans %}</a>
      <p>{% trans %}Manage the Job vacancies or Training programs you posted.{% endtrans %}</p>
    </li>
  </ul>
</nav>
