/* Table of contents */
.rw-toc {
  padding: 32px 0 0 0;
  border-bottom: 1px solid #e6ecef;
  font-size: 15px;
}
.rw-toc ul,
.rw-toc li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rw-toc > ul .rw-toc__section__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
}
.rw-toc ul ul {
  padding: 16px 0;
}
.rw-toc ul ul li {
  margin: 0 0 12px 0;
}
.rw-toc ul ul li a {
  display: inline-block;
  padding-left: 16px;
}
.rw-toc ul ul li a[data-active] {
  padding-left: 10px;
  border-left: 6px solid #0988bb;
  font-weight: bold;
}

/* Show the table of content as left sidebar with the content on the right on
 * large screens. */
@media screen and (min-width: 768px) {
  .rw-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: left;
    overflow-y: auto;
    width: 20%;
    max-height: 100vh;
    margin-bottom: 2rem; /* Matches main element bottom margin */
    padding: 32px 16px 0 0;
    border-bottom: none;
  }
  .rw-sectioned-content .rw-toc ~ section {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #e6ecef;
  }
  .rw-toc ~ section,
  .rw-toc ~ article,
  .rw-toc ~ fieldset,
  .rw-toc ~ .form-wrapper,
  .rw-toc ~ .form-item {
    float: right;
    width: 80%;
    min-width: auto;
    padding-left: 32px;
    border-left: 1px solid #e6ecef;
  }
  .page-form #main-content > section.default > form.rw-sectioned-content {
    padding: 0;
  }
}

/* Hide the table of content toggler by default. */
.js .rw-toc-toggler {
  display: none;
}

/**
 * Table of contents - javascript enabled.
 *
 * Show the table as a dropdown on small screens.
 */
@media screen and (max-width: 767px) {
  .js .rw-toc__btn {
    display: block;
    height: 40px;
    margin: 24px auto;
    padding: 0 8px;
    color: #2e3436;
    border: 1px solid #e6ecef;
    background: white;
    font-size: 16px;
    font-weight: normal;
  }
  .rw-toc__btn[aria-expanded] .cd-icon--arrow-down {
    fill: #2e3436;
  }
  /* .js .rw-toc__btn:after { */
  /*  content: ""; */
  /*  display: inline-block; */
  /*  vertical-align: middle; */
  /*  width: 9px; */
  /*  height: 9px; */
  /*  margin-left: 8px; */
  /*  overflow: hidden; */
  /*  background: url(../../img/rw-icons-sprite.png) -150px 0 no-repeat; */
  /*  background: rgba(0,0,0,0) url(../../img/rw-icons-sprite.svg) -150px 0 no-repeat; */
  /* } */
  /* .js .rw-toc-toggler[aria-expanded="true"]:after { */
  /*  background-position-y: -9px; */
  /* } */
  .js .rw-toc {
    /* display: none; */
    position: absolute;
    z-index: 4;
    top: auto;
    left: 50%;
    width: 300px;
    height: auto;
    /* The top margin is to compensate the bottom margin of the button and the
     * left margin is there, combined with the width and the left to center
     * the table of contents horizontally. */
    margin: -24px 0 0 -150px;
    padding: 16px 16px 0 16px;
    border: 1px solid #e6ecef;
    background: white;
    -webkit-box-shadow: 0 0 6px 2px #e6ecef;
    box-shadow: 0 0 6px 2px #e6ecef;
  }
  .js .rw-toc[data-hidden="false"] {
    display: block;
  }
  .js .rw-toc + section,
  .js .rw-toc + article,
  .js .rw-toc + fieldset,
  .js .rw-toc + .form-wrapper,
  .js .rw-toc + .form-item {
    border-top: 1px solid #e6ecef;
  }
  .js .rw-toc ~ section,
  .js .rw-toc ~ article,
  .js .rw-toc ~ fieldset,
  .js .rw-toc ~ .form-wrapper,
  .js .rw-toc ~ .form-item {
    padding: 24px 0;
  }
  .js .page-form #main-content > section.default > form.rw-sectioned-content {
    padding: 0;
  }
}
/* On large screens show the blue border in the space on the left so that the
 * titles stay aligned with the content. On smaller screens there is not enough
 * space for that. */
@media screen and (min-width: 768px) {
  .js .rw-toc ~ section[data-active] > h2,
  .js .rw-toc ~ article[data-active] > h2,
  .js .rw-toc ~ fieldset[data-active] > legend,
  .js .rw-toc ~ .form-wrapper > fieldset[data-active] > legend,
  .js .rw-toc ~ .form-item > fieldset[data-active] > legend {
    margin-left: -16px;
    padding-left: 8px;
    border-left: 8px solid #0988bb;
  }
}

/* Print. */
@media print {
  #table-of-content-toggler {
    display: none !important;
  }
  .rw-toc {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .js .rw-toc {
    --dropdown: false;
  }
}

@media screen and (min-width: 1024px) {
  .rw-toc {
    margin-bottom: 4rem; /* Matches main element bottom margin */
  }
}

/* Temp (I hope) - Setting heights on all the parents makes the sticky nav work */
.cd-layout-content-wrapper,
.cd-layout-content,
.region-content,
.region-content > article,
.rw-sectioned-content {
  height: 100%;
}
