/**
 * Disaster map - default.
 *
 * Default to a list of articles.
 *
 * Scope: #main-content [data-disaster-map]
 */
#main-content [data-disaster-map] {
  margin-top: 32px;
}
#main-content [data-disaster-map] > header {
  border-bottom: none;
}
#main-content [data-disaster-map] > header > * {
  font-style: normal;
}
#main-content [data-disaster-map] article {
  position: relative;
  padding: 16px 16px 16px 72px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid #e6ecef;
}
#main-content [data-disaster-map] article h5 {
  font-style: normal;
}
#main-content [data-disaster-map] article[data-disaster-type]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 56px;
  width: 1px;
  height: 100%;
  background: #e6ecef;
}
#main-content [data-disaster-map] article[data-disaster-type]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  background: url(./images/disaster-icons-sprite.png) -64px 0 no-repeat;
  background: rgba(0,0,0,0) url(./images/disaster-icons-sprite.svg) -64px 0 no-repeat;
}
#main-content [data-disaster-map] article[data-disaster-type="AC"]:before {
  background-position-y: 0;
}
#main-content [data-disaster-map] article[data-disaster-type="AV"]:before {
  background-position-y: -24px;
}
#main-content [data-disaster-map] article[data-disaster-type="CW"]:before {
  background-position-y: -48px;
}
#main-content [data-disaster-map] article[data-disaster-type="DR"]:before {
  background-position-y: -72px;
}
#main-content [data-disaster-map] article[data-disaster-type="EC"]:before {
  background-position-y: -96px;
}
#main-content [data-disaster-map] article[data-disaster-type="EP"]:before {
  background-position-y: -120px;
}
#main-content [data-disaster-map] article[data-disaster-type="EQ"]:before {
  background-position-y: -144px;
}
#main-content [data-disaster-map] article[data-disaster-type="FF"]:before {
  background-position-y: -168px;
}
#main-content [data-disaster-map] article[data-disaster-type="FL"]:before {
  background-position-y: -192px;
}
#main-content [data-disaster-map] article[data-disaster-type="FR"]:before {
  background-position-y: -216px;
}
#main-content [data-disaster-map] article[data-disaster-type="HT"]:before {
  background-position-y: -240px;
}
#main-content [data-disaster-map] article[data-disaster-type="IN"]:before {
  background-position-y: -264px;
}
#main-content [data-disaster-map] article[data-disaster-type="LS"]:before {
  background-position-y: -288px;
}
#main-content [data-disaster-map] article[data-disaster-type="MS"]:before {
  background-position-y: -312px;
}
#main-content [data-disaster-map] article[data-disaster-type="SS"]:before {
  background-position-y: -336px;
}
#main-content [data-disaster-map] article[data-disaster-type="ST"]:before {
  background-position-y: -360px;
}
#main-content [data-disaster-map] article[data-disaster-type="TC"]:before {
  background-position-y: -384px;
}
#main-content [data-disaster-map] article[data-disaster-type="TS"]:before {
  background-position-y: -408px;
}
#main-content [data-disaster-map] article[data-disaster-type="VO"]:before {
  background-position-y: -432px;
}
#main-content [data-disaster-map] article[data-disaster-type="WF"]:before {
  background-position-y: -456px;
}
#main-content [data-disaster-map] article[data-disaster-status="alert"]:before {
  background-position-x: -88px;
}
#main-content [data-disaster-map] article[data-disaster-status="ongoing"]:before {
  background-position-x: -112px;
}

/**
 * Disaster status.
 *
 * @todo unfortunately this is a duplicate of the article dl.meta rules. We
 * cannot apply those on the topics page as the `meta` class is removed by the
 * HTML sanitizer.
 */
#main-content [data-disaster-map] article dl:after {
  content: "";
  clear: both;
  display: block;
}
#main-content [data-disaster-map] article dl dt {
  clear: both;
  float: left;
  display: inline;
  margin: 0 8px 0 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}
#main-content [data-disaster-map] article dl dt:after {
  content: ": ";
}
#main-content [data-disaster-map] article dl dd {
  float: left;
  margin: 0;
  display: inline;
  line-height: 24px;
}
#main-content [data-disaster-map] article dl dd:before {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin-right: 8px;
}
#main-content [data-disaster-map] article[data-disaster-status="past"] dl dd:before {
  content: "";
  background: #b6c8d0;
}
#main-content [data-disaster-map] article[data-disaster-status="alert"] dl dd:before {
  content: "";
  background: #eb8705;
}
#main-content [data-disaster-map] article[data-disaster-status="ongoing"] dl dd:before {
  content: "";
  background: #f65c51;
}

/**
 * Related disaters.
 *
 * #main-content [data-disaster-map] ul
 */
#main-content [data-disaster-map] ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#main-content [data-disaster-map] ul li[data-disaster-type] {
  position: relative;
  padding: 0 0 0 24px;
  margin: 8px 0 0 0;
}
#main-content [data-disaster-map] ul li[data-disaster-type]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url(./images/disaster-icons-sprite.png) 0 0 no-repeat;
  background: rgba(0,0,0,0) url(./images/disaster-icons-sprite.svg) 0 0 no-repeat;
}
#main-content [data-disaster-map] ul li[data-disaster-type="AC"]:before {
  background-position-y: 0;
}
#main-content [data-disaster-map] ul li[data-disaster-type="AV"]:before {
  background-position-y: -16px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="CW"]:before {
  background-position-y: -32px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="DR"]:before {
  background-position-y: -48px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="EC"]:before {
  background-position-y: -64px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="EP"]:before {
  background-position-y: -80px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="EQ"]:before {
  background-position-y: -96px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="FF"]:before {
  background-position-y: -112px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="FL"]:before {
  background-position-y: -128px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="FR"]:before {
  background-position-y: -144px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="HT"]:before {
  background-position-y: -160px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="IN"]:before {
  background-position-y: -176px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="LS"]:before {
  background-position-y: -192px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="MS"]:before {
  background-position-y: -208px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="SS"]:before {
  background-position-y: -224px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="ST"]:before {
  background-position-y: -240px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="TC"]:before {
  background-position-y: -256px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="TS"]:before {
  background-position-y: -272px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="VO"]:before {
  background-position-y: -288px;
}
#main-content [data-disaster-map] ul li[data-disaster-type="WF"]:before {
  background-position-y: -304px;
}
#main-content [data-disaster-map] ul li[data-disaster-status="alert"]:before {
  background-position-x: -16px;
}
#main-content [data-disaster-map] ul li[data-disaster-status="ongoing"]:before {
  background-position-x: -32px;
}

/**
 * Disaster map - javascript enabled.
 *
 * Display the map if possible.
 *
 * Scope: .js #main-content [data-disaster-map]
 */
.js #main-content [data-disaster-map][data-map-enabled] {
  position: relative;
}
.js #main-content [data-disaster-map][data-map-enabled] > header {
  padding-bottom: 4px;
}
.js #main-content [data-disaster-map][data-map-enabled] [data-map-content] {
  position: relative;
  overflow: hidden;
  padding-top: 40%;
  border: 1px solid #e6ecef;
}
.js #main-content [data-disaster-map][data-map-enabled] figure {
  position: relative;
  /* For some reason there is a 1px space between the map and the container so
   * we compensate it. */
  top: -1px;
  margin: -40% 0 0 0;
  padding: 0;
}
.js #main-content [data-disaster-map][data-map-enabled] figure > div {
  position: relative;
  overflow: hidden;
  padding-top: 40%;
}
.js #main-content [data-disaster-map][data-map-processed] figure > div .mapboxgl-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.js #main-content [data-disaster-map][data-map-enabled] figcaption {
  /* The padding top is compensate the top: -1px of the figure. */
  padding: 7px 6px 6px 6px;
  border-top: 1px solid #e6ecef;
  font-size: 14px;
}
.js #main-content [data-disaster-map][data-map-enabled] figcaption span {
  position: relative;
  padding-right: 8px;
}
.js #main-content [data-disaster-map][data-map-enabled] figcaption span:last-child {
  margin-right: 0;
}
.js #main-content [data-disaster-map][data-map-enabled] figcaption span:before {
  content: "";
  display: inline-block;
  margin: 0 4px -3px 0;
  width: 10px;
  height: 15px;
  overflow: hidden;
  background: url(./images/map-markers-sprite.png) 0 0 no-repeat;
  background: rgba(0,0,0,0) url(./images/map-markers-sprite.svg) 0 0 no-repeat;
}
.js #main-content [data-disaster-map][data-map-enabled] figcaption span[data-disaster-status="alert"]:before {
  background-position-y: -15px;
}
.js #main-content [data-disaster-map][data-map-enabled] figcaption span[data-disaster-status="ongoing"]:before {
  background-position-y: -30px;
}
/* If the map is supported so is ":not()". */
.js #main-content [data-disaster-map][data-map-enabled] article:not([data-active]) {
  /* Visually hidden */
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0,0,0,0);
  overflow: hidden;
  white-space: nowrap;
}
.js #main-content [data-disaster-map][data-map-enabled] article[data-active] {
  position: absolute;
  top: 0;
  background: white;
  width: 40%;
  max-height: 258px;
  overflow-y: auto;
  margin: 8px;
  padding: 12px;
  z-index: 1;
}
.js #main-content [data-disaster-map][data-map-enabled] article[data-active="right"] {
  right: 0;
}
.js #main-content [data-disaster-map][data-map-enabled] article[data-active]:before,
.js #main-content [data-disaster-map][data-map-enabled] article[data-active]:after {
  display: none;
}
.js #main-content [data-disaster-map][data-map-enabled] article[data-active] > * {
  padding: 0;
  border: none;
}
.js #main-content [data-disaster-map][data-map-enabled] article[data-active] > * + * {
  padding-top: 8px;
}
.js #main-content [data-disaster-map][data-map-enabled] article[data-active] * {
  margin: 0;
  font-size: 15px;
}
.js #main-content [data-disaster-map][data-map-enabled] article[data-active] li[data-disaster-type] {
  margin: 8px 0 0 0;
}
.js #main-content [data-disaster-map][data-map-enabled] article[data-active] dl {
  /* Visually hidden */
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0,0,0,0);
  overflow: hidden;
  white-space: nowrap;
}

/**
 * Map markers.
 */
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-status] {
  position: absolute;
  top: 6px;
  left: 0;
  width: 30px;
  height: 45px;
  background: url(./images/map-markers-sprite.png) -10px 0 no-repeat;
  background: rgba(0,0,0,0) url(./images/map-markers-sprite.svg) -10px 0 no-repeat;
  will-change: transform;
  cursor: pointer;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-status="alert"] {
  background-position-y: -45px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-status="ongoing"] {
  background-position-y: -90px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-status][data-active] {
  background-position-y: -135px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type]:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 16px;
  height: 16px;
  background: url(./images/disaster-icons-sprite.png) -48px 0 no-repeat;
  background: rgba(0,0,0,0) url(./images/disaster-icons-sprite.svg) -48px 0 no-repeat;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="AC"]:after {
  background-position-y: 0;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="AV"]:after {
  background-position-y: -16px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="CW"]:after {
  background-position-y: -32px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="DR"]:after {
  background-position-y: -48px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="EC"]:after {
  background-position-y: -64px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="EP"]:after {
  background-position-y: -80px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="EQ"]:after {
  background-position-y: -96px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="FF"]:after {
  background-position-y: -112px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="FL"]:after {
  background-position-y: -128px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="FR"]:after {
  background-position-y: -144px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="HT"]:after {
  background-position-y: -160px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="IN"]:after {
  background-position-y: -176px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="LS"]:after {
  background-position-y: -192px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="MS"]:after {
  background-position-y: -208px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="SS"]:after {
  background-position-y: -224px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="ST"]:after {
  background-position-y: -240px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="TC"]:after {
  background-position-y: -256px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="TS"]:after {
  background-position-y: -272px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="VO"]:after {
  background-position-y: -288px;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-marker[data-disaster-type="WF"]:after {
  background-position-y: -304px;
}

/**
 * Mapbox styling.
 *
 * This is extracted from the mapbox-gl.css file.
 */
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-canary {
  background-color: salmon;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-top-left,
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-top-right,
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-bottom-left,
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-bottom-right {
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-top-left {
  top: 0;
  left: 0;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-top-right {
  top: 0;
  right: 0;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-bottom-left {
  bottom: 0;
  left: 0;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-bottom-right {
  right: 0;
  bottom: 0;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl {
  clear: both;
  pointer-events: auto;
  /* Workaround for a Safari bug:
   * https://github.com/mapbox/mapbox-gl-js/issues/8185 */
  transform: translate(0, 0);
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 10px 0 0 10px;
  float: left;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 10px 10px 0 0;
  float: right;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  margin: 0 0 10px 10px;
  float: left;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
  margin: 0 10px 10px 0;
  float: right;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-group {
  border-radius: 4px;
  background: #fff;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-group:not(:empty) {
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-group > button {
  width: 30px;
  height: 30px;
  display: block;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-group > button + button {
  border-top: 1px solid #ddd;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-group > button:disabled {
  opacity: 0.25;
  border-color: #373737;
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-zoom-out {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 9c-.554 0-1 .446-1 1s.446 1 1 1h6c.554 0 1-.446 1-1s-.446-1-1-1z' fill='%23333'/%3E%3C/svg%3E");
}
.js #main-content [data-disaster-map][data-map-enabled] .mapboxgl-ctrl-zoom-in {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 6c-.554 0-1 .446-1 1v2H7c-.554 0-1 .446-1 1s.446 1 1 1h2v2c0 .554.446 1 1 1s1-.446 1-1v-2h2c.554 0 1-.446 1-1s-.446-1-1-1h-2V7c0-.554-.446-1-1-1z' fill='%23333'/%3E%3C/svg%3E");
}
.js #main-content [data-disaster-map][data-map-enabled] a.mapboxgl-ctrl-logo {
  width: 21px;
  height: 21px;
  margin: 0 0 -3px -3px;
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 21'%3E%3Cpath d='M10.5 1.25c-5.11 0-9.25 4.15-9.25 9.25s4.15 9.25 9.25 9.25 9.25-4.15 9.25-9.25c0-5.11-4.14-9.25-9.25-9.25zm4.39 11.53c-1.93 1.93-4.78 2.31-6.7 2.31-.7 0-1.41-.05-2.1-.16 0 0-1.02-5.64 2.14-8.81a4.4 4.4 0 013.13-1.28c1.27 0 2.49.51 3.39 1.42 1.84 1.84 1.89 4.75.14 6.52z' opacity='.9' fill='%23fff'/%3E%3Cpath d='M10.5 0C4.7 0 0 4.71 0 10.5S4.7 21 10.5 21 21 16.3 21 10.5C20.99 4.71 16.3 0 10.5 0zm0 19.75c-5.11 0-9.25-4.15-9.25-9.25s4.14-9.26 9.25-9.26 9.25 4.15 9.25 9.25c0 5.13-4.14 9.26-9.25 9.26z' opacity='.35'/%3E%3Cpath d='M14.74 6.26c-1.84-1.84-4.76-1.9-6.51-.15-3.16 3.17-2.14 8.81-2.14 8.81s5.64 1.02 8.81-2.14c1.74-1.77 1.69-4.68-.16-6.52zm-2.27 4.09l-.91 1.87-.9-1.87-1.86-.91 1.86-.9.9-1.87.91 1.87 1.86.9z' opacity='.35'/%3E%3Cpath opacity='.9' fill='%23fff' d='M11.56 12.22l-.9-1.87-1.86-.91 1.86-.9.9-1.87.91 1.87 1.86.9-1.86.91z'/%3E%3C/svg%3E");
}

/**
 * Button to close the disaster description popup.
 *
 * Scope: .js #main-content [data-disaster-map]
 */
.js #main-content [data-disaster-map] figure button[data-close] {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  padding: 0 0 0 20px;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  background: #055372;
  z-index: 2;
}
.js #main-content [data-disaster-map] figure button[data-close]:hover,
.js #main-content [data-disaster-map] figure button[data-close]:active,
.js #main-content [data-disaster-map] figure button[data-close]:focus {
  background: #eb1405;
}
.js #main-content [data-disaster-map] figure button[data-close]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: -6px;
  overflow: hidden;
  background: url(./images/rw-icons-sprite.png) -108px 0 no-repeat;
  background: rgba(0,0,0,0) url(./images/rw-icons-sprite.svg) -108px 0 no-repeat;
}
.js #main-content [data-disaster-map] article[data-active] ~ figure button[data-close] {
  display: block;
}
.js #main-content [data-disaster-map] article[data-active="left"] ~ figure button[data-close] {
  right: auto;
  left: 0px;
}

/* Hide on small screens. */
@media all and (max-width: 767px) {
  #main-content [data-disaster-map] {
    display: none;
  }
}
