.rw-entity-text .rw-entity-text__content {
  padding-top: 0;
}
.rw-entity-text .rw-entity-text__content p:first-child {
  margin-top: 0;
}
.rw-entity-text .rw-entity-text__content .table-wrapper + * {
  margin-top: 24px;
}
.rw-entity-text ul {
  margin: 0;
  padding: 0 0 0 32px;
  list-style-position: outside;
}
.rw-entity-text li {
  margin: 8px 0 0 0;
  padding: 0;
}
.rw-entity-text li:first-child {
  margin: 0;
}

/* Javascript enabled */
/* Overrides the default behavior when data-cd-hidden is set as the description
 * is always displayed, only the number of paragraphs changes. */
.js .rw-entity-text--collapsible .rw-entity-text__content.cd-disclosure--is-collapsed {
  display: block;
}
.js .rw-entity-text--collapsible .rw-entity-text__content.cd-disclosure--is-collapsed > * {
  display: none;
}
/* Display only the 3 last paragraphs. */
.js .rw-entity-text--collapsible--last .rw-entity-text__content.cd-disclosure--is-collapsed > *:nth-last-child(-n+3) {
  display: block;
}
.js .rw-entity-text--collapsible--last .rw-entity-text__content.cd-disclosure--is-collapsed > *:nth-last-child(3) {
  margin-top: 0;
}
/* Display only the first 3 paragraphs. */
.js .rw-entity-text--collapsible--first .rw-entity-text__content.cd-disclosure--is-collapsed > * {
  display: none;
}
.js .rw-entity-text--collapsible--first .rw-entity-text__content.cd-disclosure--is-collapsed > *:nth-child(-n+3) {
  display: block;
}
/* Show all the paragraphs when toggled. */
.js .rw-entity-text--collapsible .rw-entity-text__content:not(.cd-disclosure--is-collapsed) > * {
  display: block;
}
/* Style the toggler. */
.js .rw-entity-text--collapsible .cd-disclosure-toggler {
  display: block;
  margin: 24px auto 0 auto;
  padding: 8px 12px;
  color: var(--cd-reliefweb-brand-blue--dark);
  border: 1px solid var(--cd-reliefweb-brand-blue--dark);
  background: white;
  font-size: 16px;
}
.js .rw-entity-text--collapsible .cd-disclosure-toggler:hover,
.js .rw-entity-text--collapsible .cd-disclosure-toggler:active,
.js .rw-entity-text--collapsible .cd-disclosure-toggler:focus {
  color: white;
  background: var(--cd-reliefweb-brand-blue--dark);
}
.js .rw-entity-text--collapsible .cd-disclosure-toggler::after {
  display: inline-block;
  overflow: hidden;
  width: 9px;
  height: 9px;
  margin: 0 0 0 4px;
  content: "";
  vertical-align: middle;
  background: var(--rw-icons--toggle--down--9--dark-blue);
}
.js .rw-entity-text--collapsible .cd-disclosure-toggler[aria-expanded="true"]::after {
  background: var(--rw-icons--toggle--up--9--dark-blue);
}
.js .rw-entity-text--collapsible .cd-disclosure-toggler:hover::after,
.js .rw-entity-text--collapsible .cd-disclosure-toggler:active::after,
.js .rw-entity-text--collapsible .cd-disclosure-toggler:focus::after {
  background-position-x: var( --rw-icons--toggle--9--white--x);
}
