{#

/**
 * @file
 * Header template for the notifications.
 *
 * Available variables are:
 * - $preheader: string for preheader.
 * - $header: string for header.
 */
?>

#}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <base target="_blank" />
</head>
<body class="body">
  <div class="reliefweb-logo">
    <a href="{{ url('<front>') }}">
      <img src="/images/notifications-logo.gif'" width="95" height="30" alt="Logo"/>
    </a>
  </div>

  {% if preheader %}
  <div id="preheader" class="preheader">
    {{ preheader }}
  </div>
  {% endif %}

  {% if header %}
  <div class="header">
    {{ header }}
  </div>
  {% endif %}
