/* River type, updates, jobs, training etc. */
.rw-bookmarks {
  padding-top: 24px;
}
.rw-bookmarks article {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 0 56px;
  border: 1px solid #e6ecef;
}
.rw-bookmarks article:last-child {
  border-bottom: 1px solid #e6ecef;
}
.rw-bookmarks article header,
.rw-bookmarks article footer {
  padding: 16px;
  border-left: 1px solid #e6ecef;
}
.rw-bookmarks article .rw-river-article__content {
  padding: 0 16px;
  border-left: 1px solid #e6ecef;
}
.rw-bookmarks article:before {
  position: absolute;
  top: 50%;
  left: 16px;
  overflow: hidden;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  content: "";
  background: var(--rw-icons--content--report--24--grey);
}
.rw-bookmarks article.rw-river-article--job:before {
  background-position-y: 0;
}
.rw-bookmarks article.rw-river-article--training:before {
  background-position-y: -24px;
}
