/**
 * User notifications form.
 *
 * Style the form in the page where users can subscribe to ReliefWeb
 * notifications.
 */
.subscription-form .form-checkboxes .form-type-checkbox,
.unsubscribe-form .form-checkboxes .form-type-checkbox {
  display: block;
}

/**
 * Subscription form.
 *
 * This doesn't really belong here but is related to the notifications.
 */
.subscription-form .form-type-checkbox {
  display: block;
  margin-top: 8px;
}
.subscription-form [data-drupal-selector="edit-information"] p {
  font-size: 16px;
}
.subscription-form [data-drupal-selector="edit-information"] .fieldset-wrapper em {
  font-weight: bold;
}
.subscription-form .form-item-country-updates label {
  margin: 0 0 24px 0;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.subscription-form .form-actions.form-item {
  margin-top: 24px;
}
/* Cancel button on unsubscribe form */
.unsubscribe-form > .button + a {
  margin-left: 1rem;
}

/**
 * User dashboard.
 *
 * Style of the user account landing page (dashboard).
 */
.rw-user-dashboard ul {
  margin: 0;
  padding: 24px 0 12px 0;
  column-width: 352px;
  column-count: 2;
  list-style: none;
  vertical-align: top;
}
.rw-user-dashboard li > * {
  display: inline-block;
}
.rw-user-dashboard li + li {
  margin-top: 32px;
}
[dir="ltr"] .rw-user-dashboard li {
  padding-right: 32px;
}
[dir="rtl"] .rw-user-dashboard li {
  padding-left: 32px;
}
.rw-user-dashboard li a {
  font-size: 18px;
  font-weight: bold;
}
.rw-user-dashboard li p {
  display: block;
  margin: 4px 0 0 0;
}

.subscription-form,
.user-form {
  --cd-flow-space: 2rem;
}

/* Nested fieldset */
.user-form fieldset fieldset:first-of-type {
  padding-top: 0;
}

.user-form.cd-form--user .cd-form__item.form-item-current-pass,
.user-form.cd-form--user .cd-form__item.form-type-textfield,
.user-form.cd-form--user .cd-form__item.form-type-email,
.user-form.cd-form--user .cd-form__item.form-type-managed-file,
.user-form.cd-form--user #password-policy-status,
.user-form.cd-form--user details {
  padding-bottom: 0;
  border-bottom: none;
}
