{% embed '@common_design/layout/page.html.twig' %}

  {% block header %}
    {% include '@common_design_subtheme/cd/cd-header/cd-header.html.twig' %}
  {% endblock %}

  {% block main %}
    {# Link to skip to the main content is in html.html.twig #}
    <main role="main" {{ attributes.setAttribute('id', 'main-content').addClass(layout_classes) }}>

      {{ page.page_title }}

      <div class="cd-layout">
        <div class="cd-layout__content">
          <div class="rw-page--sectioned">
            {{ page.content }}
          </div>
        </div>{# /.cd-layout__content #}

        {% if page.sidebar_second %}<aside class="cd-layout__sidebar--second" role="complementary">{{ page.sidebar_second }}</aside>
        {% endif %}
      </div>

    </main>
  {% endblock %}

  {% block footer_soft %}
  {% endblock %}

  {% block footer %}
    {% include '@common_design_subtheme/cd/cd-footer/cd-footer.html.twig' %}
  {% endblock %}

{% endembed %}
