.rw-search-converter__form {
  margin-top: 2rem;
}
.rw-search-converter__results {
  margin-top: 2rem;
}
.rw-search-converter__results pre {
  display: block;
  padding: 24px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  background: var(--cd-reliefweb-brand-grey--light);
  font-size: 16px;
}
