/**
 * User posting rights form.
 *
 * This is the form used to manage user posting rights per organization.
 *
 * Scope: .field--type-reliefweb-user-posting-rights
 */
.field--type-reliefweb-user-posting-rights [data-filters],
.field--type-reliefweb-user-posting-rights [data-new-form] {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #e6ecef;
}
.field--type-reliefweb-user-posting-rights [data-new-form] label {
  display: block;
  margin-bottom: 8px;
}
.field--type-reliefweb-user-posting-rights [data-new-form] label input {
  margin-top: 4px;
  width: 100%;
  box-sizing: border-box;
}
.field--type-reliefweb-user-posting-rights div[data-filters] * {
  vertical-align: middle;
}
.field--type-reliefweb-user-posting-rights div[data-filters] label {
  display: inline-block;
  margin: 0 8px;
}
.field--type-reliefweb-user-posting-rights label span,
.field--type-reliefweb-user-posting-rights label select {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
}
.field--type-reliefweb-user-posting-rights label select {
  width: auto;
}
.field--type-reliefweb-user-posting-rights div[data-filters] ~ ul li {
  display: none;
  flex-wrap: wrap;
  align-items: center;
}
.field--type-reliefweb-user-posting-rights div[data-filters][data-job="all"][data-training="all"] ~ ul li {
  display: flex;
}
.field--type-reliefweb-user-posting-rights div[data-filters][data-job="0"] ~ ul li[data-job="0"] {
  display: flex;
}
.field--type-reliefweb-user-posting-rights div[data-filters][data-job="1"] ~ ul li[data-job="1"] {
  display: flex;
}
.field--type-reliefweb-user-posting-rights div[data-filters][data-job="2"] ~ ul li[data-job="2"] {
  display: flex;
}
.field--type-reliefweb-user-posting-rights div[data-filters][data-job="3"] ~ ul li[data-job="3"] {
  display: flex;
}
.field--type-reliefweb-user-posting-rights div[data-filters][data-training="0"] ~ ul li[data-training="0"] {
  display: flex;
}
.field--type-reliefweb-user-posting-rights div[data-filters][data-training="1"] ~ ul li[data-training="1"] {
  display: flex;
}
.field--type-reliefweb-user-posting-rights div[data-filters][data-training="2"] ~ ul li[data-training="2"] {
  display: flex;
}
.field--type-reliefweb-user-posting-rights div[data-filters][data-training="3"] ~ ul li[data-training="3"] {
  display: flex;
}
.field--type-reliefweb-user-posting-rights [data-job] label.job span:after,
.field--type-reliefweb-user-posting-rights [data-training] label.training span:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin: -2px 0 0 4px;
  border-radius: 4px;
}
.field--type-reliefweb-user-posting-rights [data-job="0"] label.job span:after,
.field--type-reliefweb-user-posting-rights [data-training="0"] label.training span:after {
  background: #f49e2c;
}
.field--type-reliefweb-user-posting-rights [data-job="1"] label.job span:after,
.field--type-reliefweb-user-posting-rights [data-training="1"] label.training span:after {
  background: #da190b;
}
.field--type-reliefweb-user-posting-rights [data-job="2"] label.job span:after,
.field--type-reliefweb-user-posting-rights [data-training="2"] label.training span:after {
  background: #076d96;
}
.field--type-reliefweb-user-posting-rights [data-job="3"] label.job span:after,
.field--type-reliefweb-user-posting-rights [data-training="3"] label.training span:after {
  background: #88bb09;
}
.field--type-reliefweb-user-posting-rights ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.field--type-reliefweb-user-posting-rights ul {
  border-top: 1px solid #e6ecef;
}
.field--type-reliefweb-user-posting-rights ul li {
  margin: 0;
  padding: 8px;
  border: 1px solid #e6ecef;
  border-top: none;
  border-left-width: 4px;
}
.field--type-reliefweb-user-posting-rights ul li div {
  display: inline-table;
  width: 100%;
  margin-bottom: 6px;
}
.field--type-reliefweb-user-posting-rights ul li div[data-info] {
  table-layout: fixed;
}
.field--type-reliefweb-user-posting-rights ul li div > * {
  display: table-cell;
  vertical-align: middle;
  word-break: break-all;
  min-width: 90px;
}
.field--type-reliefweb-user-posting-rights ul li div a {
  width: 80px;
}
.field--type-reliefweb-user-posting-rights ul li div [data-label="name"],
.field--type-reliefweb-user-posting-rights ul li div [data-label="mail"] {
  padding: 0 12px;
  font-weight: bold;
}
.field--type-reliefweb-user-posting-rights ul li div button {
  float: right;
  position: relative;
  width: 30px;
  min-width: auto;
  height: 30px;
  /* Hide the text. */
  text-indent: 30px;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  background: #055372;
}
.field--type-reliefweb-user-posting-rights ul li div button:hover,
.field--type-reliefweb-user-posting-rights ul li div button:focus
.field--type-reliefweb-user-posting-rights ul li div button:active {
  background: #eb1405;
}
.field--type-reliefweb-user-posting-rights ul li div button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: -6px;
  overflow: hidden;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46 46' width='12' height='12' fill='%23fff'%3E%3Cpath d='M28.657 23L44.83 6.828a4 4 0 0 0-5.657-5.657L23 17.343 6.83 1.17a4 4 0 0 0-5.657 5.657L17.342 23 1.173 39.17a4 4 0 0 0 5.657 5.657L23 28.657l16.172 16.171a4 4 0 0 0 5.657-5.657z'/%3E%3C/svg%3E") 0 0 no-repeat;
}
.field--type-reliefweb-user-posting-rights ul li [data-notes] {
  display: flex;
  align-items: center;
  width: 100%;
}
.field--type-reliefweb-user-posting-rights ul li [data-notes] textarea {
  width: 100%;
  margin-left: 12px;
  font-weight: normal;
}
.field--type-reliefweb-user-posting-rights li[data-modified] {
  border-left: 4px solid #055372;
}
.field--type-reliefweb-user-posting-rights li[data-status="blocked"] {
  border-left: 4px solid #da190b;
  background: #e6ecef;
  opacity: 0.7;
}
@media screen and (max-width: 479px) {
  .field--type-reliefweb-user-posting-rights ul li div[data-info] {
    display: block;
    table-layout: auto;
  }
  .field--type-reliefweb-user-posting-rights ul li div[data-info] > * {
    display: block;
    width: 100%;
    padding: 0 0 8px 0;
  }
}
@media screen and (min-width: 768px) {
  .field--type-reliefweb-user-posting-rights ul li div[data-info] {
    width: 60%;
  }
  .field--type-reliefweb-user-posting-rights ul li div[data-actions] {
    width: 40%;
  }
}
