{#

/**
 * @file
 * Template for the headlines notifications.
 *
 * Available variables are:
 * - $preheader: string for preheader.
 * - $today: today's date, formatted.
 * - $items: array of headline items.
 * - $prefooter: string for prefooter.
 */
?>

#}

{% include 'modules/custom/reliefweb_subscriptions/templates/reliefweb-subscriptions--header.html.twig' %}

  <h1 class="email-title">DISASTERS ReliefWeb Headlines / <span class="email-title-date">{{ 'now'|date('j M Y') }}</span></h1>

  <div class="email-resource">
    <h2>Overview</h2>
    <div class="email-resource-teaser">
      {{ overview|raw }}
      <a class="email-resource-read-more" href="{{ url }}">View on ReliefWeb</a>
    </div>
  </div>

{% include 'modules/custom/reliefweb_subscriptions/templates/reliefweb-subscriptions--footer.html.twig' %}
