{#

/**
 * @file
 * Header template for the notifications.
 *
 * Important note: the formmatting of this template and the use of the twig
 * spaceless indicator `-` are on purpose to ensure a clean conversion to
 * plain text without excessive line breaks and indentation.
 *
 * Available variables are:
 * - logo: url of the ReliefWeb logo.
 * - preheader: string for preheader.
 * - header: string for header.
 */
?>

#}
{% if logo is not empty %}
<div class="reliefweb-logo">
  <a href="{{ url('<front>') }}">
    <img src="{{ logo }}" width="95" height="30" alt=""/>
  </a>
</div>
{% endif %}

{% if preheader %}
<div id="preheader" class="preheader">
  {{ preheader }}
</div>
{% endif %}

{% if header %}
<div class="header">
  {{ header }}
</div>
{% endif %}
