/**
 * Token help.
 *
 * Information about tokens usable in a text input or textarea.
 */
.rw-token-help {
  font-size: 14px;
}
.rw-token-help.form-wrapper {
  margin-top: 8px;
}
.rw-token-help summary {
  padding: 8px;
  border: 1px solid #e6ecef;
  line-height: 1.5;
}
.rw-token-help[open] summary {
  border-bottom: 0;
}
.rw-token-help summary strong {
  font-size: 16px;
}
.rw-token-help summary p {
  margin: 0;
}
.rw-token-help table th {
  text-align: left;
}
