//——————————————————————————————————————————————————————————————————————————————
// Common Design: User Menu
//
// Includes user-centered settings and/or actions.
//
//——————————————————————————————————————————————————————————————————————————————
// .cd-global-header .menu li:last-child a {
//   padding-right: 0;
// }
// .cd-global-header .menu li:last-child a::after {
//   content: none;
// }
.cd-user-menu__item:focus {
  outline: 3px solid var(--cd-reliefweb-brand-blue);
}

// If there's a second menu in the Global Header and no language switcher,
// uncomment this rule to apply special treatment to the last link in the list.
.cd-global-header__user-menu + .cd-global-header__user-menu li:last-child a {
  padding-right: 0;
}

.cd-global-header__user-menu + .cd-global-header__user-menu li:last-child a::after {
  content: none;
}

.cd-global-header__user-menu a svg + span {
  @include max-width(md) {
    @include visually-hidden;
  }
}

[dir="ltr"] .admin-menu__btn svg + span {
  margin-left: 10px;
}

[dir="rtl"] .admin-menu__btn svg + span {
  margin-right: 10px;
}

.admin-menu__btn .cd-icon:not(.cd-icon--arrow-down) {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  fill: $cd-white;
}
