//——————————————————————————————————————————————————————————————————————————————
// Common Design: Language Switcher
//——————————————————————————————————————————————————————————————————————————————

.cd-language-switcher__btn {
  &:focus {
    outline: 3px solid $implementation-highlight;
  }
}

.cd-user-menu__dropdown {
  li a {
    &:hover,
    &:focus {
      color: $implementation-highlight;
    }

    &:focus {
      outline: 3px solid $implementation-highlight;
    }
  }
}
