/* Search */
.rw-river-search {
  margin: -8px 0 32px 0;
  padding: 0;
  border: none;
}
.rw-river-search .rw-river-search__wrapper {
  position: relative;
  width: 100%;
  height: 46px;
  /* Space for the search button. */
  padding-right: 100px;
}
.rw-river-search .rw-river-search__form label {
  /* Visually hidden */
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
.rw-river-search .rw-river-search__form input {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-right: none;
  font-size: 17px;
  font-weight: bold;
}
.rw-river-search .rw-river-search__form input:focus {
  z-index: 2;
}
/* Placeholder style. */
.rw-river-search .rw-river-search__form input::-webkit-input-placeholder {
  font-weight: normal;
}
.rw-river-search .rw-river-search__form input:-ms-input-placeholder {
  font-weight: normal;
}
.rw-river-search .rw-river-search__form input::-moz-placeholder {
  font-weight: normal;
}
.rw-river-search .rw-river-search__form input::placeholder {
  font-weight: normal;
}
.rw-river-search .rw-river-search__form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
}
.rw-river-search .rw-river-search__form button:before {
  position: absolute;
  top: 16px;
  left: -8px;
  content: "";
  border-width: 8px 8px 8px 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: #055372;
}
.rw-river-search .rw-river-search__form button:hover:before,
.rw-river-search .rw-river-search__form button:focus:before,
.rw-river-search .rw-river-search__form button:active:before {
  border-right-color: #eb1405;
}

/* Show an icon for the search button on small screens. */
@media screen and (max-width: 767px) {
  .rw-river-search .rw-river-search__wrapper {
    padding-right: 48px;
  }
  .rw-river-search .rw-river-search__form button {
    overflow: hidden;
    width: 48px;
    /* Padding to hide the text visually. */
    padding: 0 0 0 48px;
    white-space: nowrap;
  }
  .rw-river-search .rw-river-search__form button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    overflow: hidden;
    width: 26px;
    height: 26px;
    margin-top: -13px;
    margin-left: -13px;
    content: "";
    background: var(--rw-icons--search--search--26--white);
  }
}

.rw-search-results .rw-river-article:first-child {
  border-top: 1px solid #e6ecef;
}

.rw-search-results__totals {
  width: 100%;
  text-align: center;
}
.rw-search-results__totals ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.rw-search-results__totals li {
  float: left;
  margin: 8px;
}
.rw-search-results__totals li a {
  display: block;
  padding: 12px 24px;
  border-radius: 6px;
  background: #e6ecef;
  font-size: 17px;
  font-weight: bold;
}
.rw-search-results__totals li:last-child {
  margin-right: 0;
}
.rw-search-results .rw-river__title {
  margin-bottom: 16px;
  padding-left: 8px;
  border-left: 8px solid #0988bb;
}
.rw-search-results .rw-river__title + p {
  margin: 0 0 8px 0;
}
.rw-search-results .rw-river {
  margin-top: 32px;
  border-bottom: 1px solid #e6ecef;
  padding-bottom: 32px;
}
.rw-search-results .rw-river + .rw-river {
  margin-top: 56px;
}
.rw-search-results .rw-river:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
.rw-search-results h3 {
  margin: 0 0 8px 0;
}
