.rw-river-page--countries > ul {
  position: relative;
  z-index: 1;
  display: block;
  margin: 12px -12px -12px -12px;
  padding: 0;
  list-style: none;
}
.rw-river-page--countries > ul ul,
.rw-river-page--countries > ul li {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.rw-river-page--countries > ul > li {
  padding: 12px;
}
.rw-river-page--countries > ul > li:target:before {
  position: absolute;
  z-index: -1;
  top: 8px;
  right: 0;
  bottom: 12px;
  left: 0;
  content: "";
  border: 4px solid var(--cd-reliefweb-brand-grey--light);
}
.rw-river-page--countries > ul .rw-river-country-list__group__title {
  margin: 8px 0 24px 0;
  padding: 0 0 16px 0;
  border-bottom: 1px solid var(--cd-reliefweb-brand-grey--dark);
  font-size: 24px;
  font-weight: bold;
}
.rw-river-page--countries > ul li li {
  margin: 0 0 8px 0;
  padding-bottom: 8px;
}
.rw-river-page--countries > ul li li:last-child {
  margin: 0;
  border-bottom: none;
}
.rw-river-page--countries > ul li a {
  line-height: 1.5;
}

@media screen and (min-width: 480px) {
  .rw-river-page--countries > ul {
    columns: 2;
    column-gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  .rw-river-page--countries > ul {
    columns: 3;
    column-gap: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .rw-river-page--countries > ul {
    columns: 4;
    column-gap: 8px;
  }
}
