/**
 * Article rw-entity-meta information.
 *
 * rw-entity-meta information like source or publication date, generally in the header or
 * footer.
 *
 * Scope: #main-content-content article dl.rw-entity-meta
 */
#main-content article dl.rw-entity-meta {
  margin: 0;
}
#main-content article dl.rw-entity-meta + dl.rw-entity-meta {
  margin-top: 4px;
}
#main-content article dl.rw-entity-meta:after {
  display: block;
  clear: both;
  content: "";
}
#main-content article dl.rw-entity-meta dt {
  display: inline;
  float: left;
  clear: both;
  margin: 0 4px 0 0;
  font-size: 15px;
  font-weight: bold;
  /* To have enough tapping space between links. */
  line-height: 29px;
}
#main-content article dl.rw-entity-meta dt:after {
  content: ": ";
}
#main-content article dl.rw-entity-meta dd {
  margin: 0;
  /* To have enough tapping space between links. */
  line-height: 30px;
}
#main-content article dl.rw-entity-meta dd ul,
#main-content article dl.rw-entity-meta dd li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-content article dl.rw-entity-meta dd li:after {
  content: ", ";
}
/* This will be ignored in IE8 but it's not a big deal. */
#main-content article dl.rw-entity-meta dd li:last-child:after,
#main-content article dl.rw-entity-meta dd li[data-last]:after {
  content: none;
}
#main-content article dl.rw-entity-meta dd li[data-more]:before {
  content: " + ";
}
#main-content > article header dl.rw-entity-meta {
  margin: 8px 0 -6px 0;
}
/* Show the rw-entity-meta information inline. */
@media screen and (min-width: 480px) {
  #main-content article header dl.rw-entity-meta dt {
    float: none;
  }
  #main-content article header dl.rw-entity-meta dd {
    display: inline;
  }
  /* Separator. */
  #main-content article header dl.rw-entity-meta dd:after {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 8px;
    padding: 0;
    content: "";
    vertical-align: middle;
    border-radius: 4px;
    background: #2e3436;
  }
  #main-content article header dl.rw-entity-meta dd:last-of-type:after {
    content: none;
  }
}

/**
 * rw-entity-meta for river articles.
 *
 * Scope: #main-content section article
 */
#main-content section article dl.rw-entity-meta {
  margin: 0;
}
#main-content section article dl.rw-entity-meta dt {
  display: inline-block;
  float: none;
  font-size: 14px;
}
#main-content section article dl.rw-entity-meta dd {
  display: inline-block;
  font-size: 15px;
}
#main-content section article dl.rw-entity-meta.rw-article-meta {
  /* #2e3436 with 0.85 opacity on white. */
  color: #4d5254;
}
#main-content section article dl.rw-entity-meta.rw-article-meta dd:after {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 8px;
  padding: 0;
  content: "";
  vertical-align: middle;
  border-radius: 4px;
  background: #2e3436;
}
#main-content section article dl.rw-entity-meta.rw-article-meta dd.created:after {
  margin-left: 12px;
}
/* This will be ignored in IE8 but it's not a big deal. */
#main-content section article dl.rw-entity-meta.rw-article-meta dd:last-of-type:after,
#main-content section article dl.rw-entity-meta.rw-article-meta dd.rw-entity-meta__tag-value--last:after {
  content: none;
}
/* Display rw-entity-meta one per line on smaller screen to improve readability. */
@media all and (max-width: 479px) {
  #main-content section article dl.rw-entity-meta.rw-article-meta dd {
    display: inline;
  }
  #main-content section article dl.rw-entity-meta.rw-article-meta dd:after {
    display: block;
    width: 0;
    height: 0;
    margin: 0;
  }
}

/**
 * Country/disaster status.
 *
 * Display a color coded dot next to the country/disaster status.
 *
 * Scope: #main-content article dl.rw-entity-meta dd.rw-entity-meta__tag-value--status
 */
#main-content article dl.rw-entity-meta dd.rw-entity-meta__tag-value--status:before {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 5px;
}
#main-content article dl.rw-entity-meta dd.rw-entity-meta__tag-value--status--past:before {
  content: "";
  background: #b6c8d0;
}
#main-content article dl.rw-entity-meta dd.rw-entity-meta__tag-value--status--alert:before {
  content: "";
  background: #eb8705;
}
#main-content article dl.rw-entity-meta dd.rw-entity-meta__tag-value--status--ongoing:before {
  content: "";
  background: #f65c51;
}

#main-content .taxonomy-term--disaster--full dl.rw-entity-meta dd.rw-entity-meta__tag-value--status--past:before {
  content: none;
}

/**
 * Content format.
 *
 * Display an icon in front of the content format.
 *
 * Scope: #main-content article dl.rw-entity-meta dd.rw-entity-meta__tag-value--status--format
 */
#main-content article dl.rw-entity-meta dd.rw-entity-meta__tag-value--format:before {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  /* The top margin is to have a better vertical alignment. */
  margin: -2px 6px 0 0;
  content: "";
  vertical-align: middle;
  background: var(--rw-icons--content--report--16--dark-grey);
}
#main-content article dl.rw-entity-meta dd.rw-entity-meta__tag-value--format.map:before {
  background: var(--rw-icons--content--map--16--dark-grey);
}
#main-content article dl.rw-entity-meta dd.rw-entity-meta__tag-value--format.infographic:before {
  background: var(--rw-icons--content--infographic--16--dark-grey);
}
#main-content article dl.rw-entity-meta dd.rw-entity-meta__tag-value--format.interactive:before {
  background: var(--rw-icons--content--interactive--16--dark-grey);
}
