/* Page title. */
.rw-page-title {
  margin: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--cd-reliefweb-brand-red--dark);
}

.rw-403 .rw-page-title,
.rw-404 .rw-page-title {
  margin-bottom: 24px;
}

/* Avoid having a h1.rw-page-title attached to the page content. */
.rw-page-title + .rw-page-content {
  margin-top: 24px;
}
