/**
 * View more links.
 *
 * Links to view more, for example to redirect to a list of documents. They have
 * an icon to distinguish them from other links.
 */
.view-more {
  width: 100%;
  margin-top: 32px;
  text-align: center;
}
/* Recent Disasters on the homepage */
.rw-river--disasters .view-more {
  margin-top: 16px;
}
/* Clear the floating of the list items. */
.view-more:after {
  display: block;
  clear: both;
  content: "";
}
.view-more a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-style: italic;
}
.view-more a:after {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin: 0 0 0 6px;
  content: "";
  vertical-align: middle;
  background: var(--rw-icons--common--next--12--dark-blue);
}
.view-more ul {
  display: inline-block;
  width: 100%;
  max-width: 360px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.view-more li {
  float: left;
}
