/**
 * Organization landing page styling.
 */
@media screen and (min-width: 768px) {
  .path-organizations section.rw-river .rw-river-results {
    margin-bottom: 12px;
    text-align: center;
  }
  .path-organizations section.rw-river .rw-river__articles {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* Compensate the margin from the rw-river__articles. */
    margin: 0 -8px;
  }
  .path-organizations section.rw-river .rw-river__articles article {
    flex: 1 0 40%;
    width: 100%;
    margin: 16px 8px 0 8px;
    padding: 16px;
    border: 1px solid #e6ecef;
  }
  .path-organizations section.rw-river #pager {
    border-top: none;
  }
}
