/**
 * Datepicker widget.
 *
 * Style for the datepicker widgets. They consist of a calendar type widget and
 * are currently generated via the simpledatepicker.js library.
 *
 * Structure:
 *
 * <div class="rw-datepicker-container">
 *   <div class="rw-datepicker-calendar">
 *     <div class="rw-datepicker-title">
 *       <button class="rw-datepicker-control rw-datepicker-title-previous rw-datepicker-title-year">Previous Year</button>
 *       <button class="rw-datepicker-control rw-datepicker-title-previous rw-datepicker-title-month">Previous Month</button>
 *       <span class="rw-datepicker-title-date">January, 2020</span>
 *       <button class="rw-datepicker-control rw-datepicker-title-previous rw-datepicker-title-month">Next Month</button>
 *       <button class="rw-datepicker-control rw-datepicker-title-previous rw-datepicker-title-year">Next Year</button>
 *     </div>
 *     <div class="rw-datepicker-header">
 *       <span>Su</span>
 *       <span>Mo</span>
 *       ...
 *     </div>
 *     <div class="rw-datepicker-days">
 *        <button class="rw-datepicker-day-out">31</button>
 *        <button class="rw-datepicker-day-in">02</button>
 *        ...
 *     </div>
 *   </div>
 */
.rw-datepicker-container {
  position: relative;
  z-index: 10;
}
.rw-datepicker-container[data-hidden="true"] {
  display: none;
}
.rw-datepicker-calendar {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 272px;
  padding: 8px;
  border: 1px solid var(--cd-reliefweb-dark-grey);
  background: white;
  box-shadow: 0 1px 4px 1px rgba(var(--cd-rgb-reliefweb-dark-grey), 0.3);
  font-style: normal;
}
.rw-datepicker-calendar button {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cd-reliefweb-dark-blue);
  border: none;
  background: none;
  /* @todo review if we can use a CD variable. */
  font-size: 16px;
  line-height: 16px;
  /* Disable text selection of the buttons in the calendar to avoid interfering
   * with the expected behavior (buttons). */
  -webkit-touch-callout: none;
}
.rw-datepicker-calendar button:hover,
.rw-datepicker-calendar button:focus,
.rw-datepicker-calendar button:active {
  color: var(--cd-reliefweb-dark-blue);
  background: var(--cd-reliefweb-light-grey);
}
.rw-datepicker-title {
  margin-bottom: 8px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 1px solid var(--cd-reliefweb-light-grey);
  line-height: 24px;
}
/* Previous/next year/month buttons. */
.rw-datepicker-container button.rw-datepicker-control {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  padding-left: 24px;
  vertical-align: top;
}
/* Arrow icons for the previous/next year/month. */
.rw-datepicker-container button.rw-datepicker-control:before {
  position: absolute;
  top: 50%;
  right: 50%;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-right: -6px;
  content: "";
  background: var(--rw-icons--common--arrow-right--12--dark-blue);
}
.rw-datepicker-container button.rw-datepicker-control.rw-datepicker-title-previous.rw-datepicker-title-month:before {
  background: var(--rw-icons--common--arrow-left--12--dark-blue);
}
.rw-datepicker-container button.rw-datepicker-control.rw-datepicker-title-next.rw-datepicker-title-year:before {
  background: var(--rw-icons--common--double-arrow-right--12--dark-blue);
}
.rw-datepicker-container button.rw-datepicker-control.rw-datepicker-title-previous.rw-datepicker-title-year:before {
  background: var(--rw-icons--common--double-arrow-left--12--dark-blue);
}
/* Selected month and year. */
.rw-datepicker-title-date {
  display: inline-block;
  width: 158px;
  padding: 0 4px;
  font-size: 16px;
  line-height: 16px;
}
/* Weekdays. */
.rw-datepicker-header span {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 2px;
  padding: 8px;
  text-align: right;
  font-size: 16px;
  line-height: 16px;
}
/* Days of the month. */
.rw-datepicker-days button {
  width: 32px;
  height: 32px;
  margin: 2px;
  padding: 8px;
  text-align: right;
  background: none;
}
/* Days outside of the selected month are disabled. */
.rw-datepicker-days button[disabled],
.rw-datepicker-days button[disabled]:hover,
.rw-datepicker-days button[disabled]:focus,
.rw-datepicker-days button[disabled]:active {
  cursor: default;
  color: var(--cd-reliefweb-light-grey);
  background: none;
}
/* Highlight the current day. */
.rw-datepicker-days button.rw-datepicker-today {
  color: var(--cd-reliefweb-dark-red);
}
/* Highlight the currently selected day(s). */
.rw-datepicker-days button.rw-datepicker-selected-day {
  color: white;
  background: var(--cd-reliefweb-dark-blue);
}

/**
 * Dual datepicker widget used for example on the moderation backend.
 *
 * Structure:
 *
 * <div class="rw-datepicker-dual-widget">
 *   <div class="rw-datepicker-dual-widget__wrapper">
 *     <div class="rw-datepicker-container">
 *       <input class="rw-datepicker-input" type="text"/>
 *       <div class="rw-datepicker-calendar">
 *         // See structure above for the calendar content.
 *       </div>
 *     </div>
 *     <div class="rw-datepicker-container">
 *       <input class="rw-datepicker-input" type="text"/>
 *       <div class="rw-datepicker-calendar">
 *         // See structure above for the calendar content.
 *       </div>
 *     </div>
 *     <button class="rw-datepicker-select">Select</button>
 *   </div>
 * </div>
 */
.rw-datepicker-dual-widget {
  position: relative;
}
.rw-datepicker-dual-widget[data-hidden] {
  display: none;
}
.rw-datepicker-dual-widget__wrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: grid;
  grid-template-areas: "widget1 widget2" "select select";
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, min-content);
  border: 1px solid var(--cd-reliefweb-dark-grey);
  background: white;
  box-shadow: 0 1px 4px 1px rgba(var(--cd-rgb-reliefweb-dark-grey), 0.3);
}
.rw-datepicker-dual-widget .rw-datepicker-container:nth-child(1) {
  grid-area: widget1;
  border-right: 1px solid var(--cd-reliefweb-dark-grey);
}
.rw-datepicker-dual-widget .rw-datepicker-container:nth-child(2) {
  grid-area: widget2;
}
.rw-datepicker-dual-widget .rw-datepicker-input {
  display: block;
  width: 100%;
  height: 46px;
  text-align: center;
  border: none;
}
.rw-datepicker-dual-widget .rw-datepicker-select {
  grid-area: select;
  width: 100%;
}
.rw-datepicker-dual-widget .rw-datepicker-calendar {
  position: relative;
  border-right: none;
  border-left: none;
  box-shadow: none;
}
