[data-moderation-status="draft"] {
  border-color: var(--cd-reliefweb-grey--light);
  background-color: var(--cd-reliefweb-orange--bg);
}
[data-moderation-status="on_hold"],
[data-moderation-status="alert"],
[data-moderation-status="inactive"] {
  border-color: var(--cd-reliefweb-orange);
  background-color: var(--cd-reliefweb-orange--bg);
}
[data-moderation-status="to_review"],
[data-moderation-status="external"] {
  border-color: var(--cd-reliefweb-blue);
  background-color: var(--cd-reliefweb-blue--bg);
}
[data-moderation-status="published"],
[data-moderation-status="past"],
[data-moderation-status="active"],
[data-moderation-status="normal"] {
  border-color: var(--cd-reliefweb-green);
  background-color: var(--cd-reliefweb-green--bg);
}
[data-moderation-status="refused"],
[data-moderation-status="blocked"],
[data-moderation-status="current"],
[data-moderation-status="ongoing"] {
  border-color: var(--cd-reliefweb-red);
  background-color: var(--cd-reliefweb-red--bg);
}
[data-moderation-status="expired"],
[data-moderation-status="archive"],
[data-moderation-status="alert_archive"] {
  border-color: var(--cd-reliefweb-purple);
  background-color: var(--cd-reliefweb-purple--bg);
}
[data-moderation-status="draft_archive"] {
  border-color: var(--cd-reliefweb-grey);
  background-color: var(--cd-reliefweb-grey--bg);
}
[data-moderation-status="duplicate"],
[data-moderation-status="monitoring_archive"] {
  border-color: var(--cd-reliefweb-brown);
  background-color: var(--cd-reliefweb-brown--bg);
}
[data-moderation-status="monitoring"],
[data-moderation-status="reference"] {
  border-color: var(--cd-reliefweb-yellow);
  background: var(--cd-reliefweb-yellow--bg);
}
[data-moderation-status="pending"],
[data-moderation-status="embargoed"],
[data-moderation-status="external_archive"] {
  border-color: var(--cd-reliefweb-cyan);
  background-color: var(--cd-reliefweb-cyan--bg);
}

.rw-moderation-status[data-moderation-status] {
  display: block;
  padding: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-left-width: 10px;
  border-left-style: solid;
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
}
