:root {
  /**
   * Site-specific brand colors
   *
   * Set these variables and the CD Header/Footer will re-color to your brand.
   *
   * In the future the Component library will adhere to these vars as well.
   */
  --brand-primary: var(--cd-reliefweb-brand-blue--dark);
  --brand-primary--light: var(--cd-blue--bright);
  --brand-primary--dark: #04415a;
  --brand-highlight: var(--cd-reliefweb-brand-red--dark);
  --brand-grey: var(--cd-reliefweb-brand-grey--light);
  --brand-logo-width: 140px;

  --cd-reliefweb-brand-red: #f65c51;

 /* Color palette */
 --cd-reliefweb-brand-blue: #0988bb;
 --cd-reliefweb-brand-red: #f65c51;
 --cd-reliefweb-brand-blue--dark: #055372;
 --cd-reliefweb-brand-red--dark: #eb1405;
 --cd-reliefweb-brand-grey--dark: #2e3436;
 /* #2e3436 with 0.85 opacity on white. */
 --cd-reliefweb-brand-grey--mid: #4d5254;
 --cd-reliefweb-brand-grey--light: #e6ecef;

 /* RGB variables to use with rgba() */
 --cd-rgb-reliefweb-brand-blue: 9, 136, 187;
 --cd-rgb-reliefweb-brand-red: 246, 92, 81;
 --cd-rgb-reliefweb-brand-blue--dark: 4, 82, 112;
 --cd-rgb-reliefweb-brand-red--dark: 235, 20, 5;
 --cd-rgb-reliefweb-brand-grey--dark: 46, 52, 54;
 --cd-rgb-reliefweb-brand-grey--light: 230, 236, 239;
}
