:root {
  /**
   * Site logos
   *
   * Specify the logo dimensions here. To change the image URL, edit this file:
   *
   * @see common_design_subtheme/components/cd/cd-header/cd-logo.css
   */
  --brand-logo-mobile-width: 52px;
  --brand-logo-desktop-width: 140px;

  /**
   * Site-specific brand colors
   *
   * Set these variables and the CD Header/Footer will re-color to your brand.
   *
   * In the future the Component library will adhere to these vars as well.
   */
  --brand-primary: var(--cd-reliefweb-brand-blue--dark);
  --brand-primary--light: var(--cd-blue--bright);
  --brand-primary--dark: #04415a;
  --brand-highlight: var(--cd-reliefweb-brand-red--dark);
  --brand-grey: var(--cd-reliefweb-brand-grey--light);

 /* Color palette */
 --cd-reliefweb-brand-blue: #0988bb;
 --cd-reliefweb-brand-red: #f65c51;
 --cd-reliefweb-brand-blue--dark: #055372;
 --cd-reliefweb-brand-red--dark: #eb1405;
 --cd-reliefweb-brand-grey--dark: #2e3436;
 /* #2e3436 with 0.85 opacity on white. */
 --cd-reliefweb-brand-grey--mid: #4d5254;
 --cd-reliefweb-brand-grey--light: #e6ecef;

 /* RGB variables to use with rgb() */
 --cd-rgb-reliefweb-brand-blue: 9, 136, 187;
 --cd-rgb-reliefweb-brand-red: 246, 92, 81;
 --cd-rgb-reliefweb-brand-blue--dark: 4, 82, 112;
 --cd-rgb-reliefweb-brand-red--dark: 235, 20, 5;
 --cd-rgb-reliefweb-brand-grey--dark: 46, 52, 54;
 --cd-rgb-reliefweb-brand-grey--light: 230, 236, 239;

  /* Light grey */
  --cd-reliefweb-grey--light: #d9d9d9;
  --cd-reliefweb-grey--light--bg: oklch(from var(--cd-reliefweb-grey--light) l c h / 0.2);
  /* Orange */
  --cd-reliefweb-orange: #f49e2c;
  --cd-reliefweb-orange--bg: oklch(from var(--cd-reliefweb-orange) l c h / 0.2);
  /* Blue */
  --cd-reliefweb-blue: #076d96;
  --cd-reliefweb-blue--bg: oklch(from var(--cd-reliefweb-blue) l c h / 0.2);
  /* Green */
  --cd-reliefweb-green: #88bb09;
  --cd-reliefweb-green--bg: oklch(from var(--cd-reliefweb-green) l c h / 0.2);
  /* Red */
  --cd-reliefweb-red: #da190b;
  --cd-reliefweb-red--bg: oklch(from var(--cd-reliefweb-red) l c h / 0.2);
  /* Purple */
  --cd-reliefweb-purple: #9509bb;
  --cd-reliefweb-purple--bg: oklch(from var(--cd-reliefweb-purple) l c h / 0.2);
  /* Light purple */
  --cd-reliefweb-purple--light: #9FA8DA;
  --cd-reliefweb-purple--light--bg: oklch(from var(--cd-reliefweb-purple--light) l c h / 0.2);
  /* Grey */
  --cd-reliefweb-grey: #4b4b4b;
  --cd-reliefweb-grey--bg: oklch(from var(--cd-reliefweb-grey) l c h / 0.2);
  /* Brown */
  --cd-reliefweb-brown: #8f5507;
  --cd-reliefweb-brown--bg: oklch(from var(--cd-reliefweb-brown) l c h / 0.2);
  /* Yellow */
  --cd-reliefweb-yellow: #f5cb2f;
  --cd-reliefweb-yellow--bg: oklch(from var(--cd-reliefweb-yellow) l c h / 0.2);
  /* Cyan */
  --cd-reliefweb-cyan: #56c9f7;
  --cd-reliefweb-cyan--bg: oklch(from var(--cd-reliefweb-cyan) l c h / 0.2);
  /* Magenta */
  --cd-reliefweb-magenta: #b0126a;
  --cd-reliefweb-magenta--bg: oklch(from var(--cd-reliefweb-magenta) l c h / 0.2);

  /* Colour variations. */
  --cd-reliefweb-orange--alert: #eb8705;
  --cd-reliefweb-pink: rgb(246, 92, 81, 0.2);
  --cd-reliefweb-grey--disable: rgb(230, 236, 239, 0.5);

  /* Fonts sizes in REMs */
  --cd-font-size--large: 1.5rem;  /* 24px */
}
