{#

/**
 * @file
 * Template file for field revisions when the field valiues were re-ordered.
 *
 * Available variables:
 * - attributes: wrapper attributes
 * - message: the "re-ordered" message.

#}
<div{{ attributes.addClass('rw-revisions-diff-reordered') }}>
{{ message }}
</div>
