{#

/**
 * @file
 * Template file for the country slug of an entity.
 *
 * Available variables:
 * - countries: list of countries with the following properties:
 *   - url: url to either the country page or the river filtered by the country
 *   - name: country name
 *   - shortname: country short name
 */

#}
{% if countries %}
<p class="rw-entity-country-slug">
  {% for item in countries|taglist(1, 'shortname') %}
    <a class="rw-entity-country-slug__link" href="{{ item.url }}">{{ item.shortname ?? item.name }}</a>
  {% endfor %}
  {% if countries|length > 1 %}
    <span class="rw-entity-country-slug__more">{{ '+ @count more'|t({
      '@count': (countries|length) - 1,
    }) }}</span>
  {% endif %}
</p>
{% endif %}
