{#

/**
 * @file
 * Template file for an entity's page content with sections.
 *
 * Available variables:
 * - level: heading level (defaults to 2)
 * - contents: table of contents
 * - sections: list of sections
 */

#}
{# Propagrate the heading level. #}
{% set contents = contents|merge({'#level': level}) %}
{% set sections = sections|map(section => section|merge({'#level': level})) %}
<div{{ attributes.addClass('rw-sectioned-content') }}>
{{ contents }}
{{ sections }}
</div>
