{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
  {% set rendered  = include(directory ~ '/templates/form/' ~ attributes.id ~ '.html.twig', ignore_missing = true) %}
  {{ rendered is not empty ? rendered|raw : children }}
</form>
