.ai-message-wrapper {
  padding-bottom: 0 !important;
  padding-left: 32px !important;
  border-bottom: 0 !important;
}

@media screen and (min-width: 767px) {
  .ai-message-wrapper {
    padding-left: 40px !important;
  }
}

.ai-message-wrapper legend {
  display: none;
  margin: 0;
  padding: 0;
}

[required] .js-form-type-radio:has(input[value="_none"]) {
  display: none !important;
}
