/* River information and pager */
.pager {
  clear: both;
  width: 100%;
  margin-top: 32px;
  padding-top: 32px;
  text-align: center;
  border-top: 1px solid var(--cd-reliefweb-light-grey);
}
.pager:after {
  display: table;
  clear: both;
  width: 100%;
  content: "";
}
.pager a {
  display: inline-block;
  padding: 8px 16px;
  font-weight: bold;
  line-height: 1;
}
.pager .is-active a {
  text-decoration: underline;
  color: var(--cd-reliefweb-brand-red--dark);
}
.pager ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
}
.pager li {
  float: left;
  margin: 0;
}
.pager li:after {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin-bottom: 1px;
  content: "";
  background: var(--cd-reliefweb-brand-grey--dark);
}
.pager li:last-child:after {
  content: none;
}
.cd-pager__item--ellipsis {
  display: block;
  padding: 8px 0 8px 16px;
  font-weight: bold;
  line-height: 1;
}
.pager li.cd-pager__item--ellipsis:after {
  margin-left: 16px;
}
/* So the pager nav element expands the entire width of the cd-layout-content area. */
@media screen and (min-width: 768px) {
  .rw-river-page--with-advanced-search .pager {
    width: calc(100% + 340px);
    margin-left: -340px;
  }
}

@media screen and (min-width: 1024px) {
  .rw-river-page--with-advanced-search .pager {
    width: calc(100% + 360px);
    margin-left: -360px;
  }
}
