{#
/**
 * @file
 * Default template to format a HTML email using the Mime Mail module.
 *
 * Copy this file in your default theme folder to create a custom themed email.
 * If you modify this template you MUST be sure to keep the html, body, and
 * header tags. This template should produce a fully-formed HTML document.
 * Failure to include these will result in a malformed email and possibly
 * errors shown to the user when sending email.
 *
 * To override this template for all emails sent by a given module,
 * rename this template to mimemail-messages--[module].html.twig.
 *
 * To override this template for a specific email sent by a given module,
 * rename this template to mimemail-messages--[module]--[key].html.twig.
 *
 * Available variables:
 * - attributes: HTML attributes for the body element of the message.
 * - key: The message identifier.
 * - module: The machine name of the sending module.
 * - css: Internal style sheets.
 * - recipient: The recipient of the message.
 * - subject: The message subject.
 * - body: The message body.
 *
 * @see template_preprocess_mimemail_message()
 *
 * @ingroup themeable
 */
#}
{% set classes = module ? (key ? module ~ '-' ~ key) %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Reliefweb mail template</title>
{% if css %}
    <style type="text/css">
      <!-- {{ css }} -->
    </style>
{% endif %}
    <style type="text/css">
      /**
       * Email styling is limited.
       *
       * Only use classes. They will be converted to inline styling.
       *
       * Do not use double quotes.
       */
      .body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #333;
        padding: 10px;
        margin: 10px;
        width: 520px;
      }

      .reliefweb-logo {
        margin-bottom: 20px;
      }

      .preheader {
        display: none!important;
        max-height: 0;
        max-width: 0;
        overflow: hidden;
        visibility: hidden;
        font-size: 0;
        line-height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
        mso-hide: all;
      }
      .header {
        margin-bottom: 20px;
      }
      .prefooter {
        padding: 15px 0 0;
        font-size: 12px;
      }
      .prefooter-link {
        text-decoration: underline;
        color: #18b;
      }
      .footer {
        padding: 15px 0 0;
        font-size: 11px;
      }
      .footer-link {
        text-decoration: underline;
        color: #999;
      }

      .email-title {
        padding: 0 0 10px;
        margin: 0;
        font-family: Georgia, serif;
        font-size: 20px;
        font-weight: normal;
        line-height: 20px;
        border-bottom: 1px solid #333;
      }
      .email-title-date {
        font-size: 16px;
        color: #e55;
      }

      .email-resource {
        border-bottom: 1px dotted #ccc;
        padding: 15px 0 14px;
      }
      .email-resource-title {
        font-size: 17px;
        font-weight: bold;
        line-height: 24px;
        margin: 0;
      }
      .email-resource-title-link {
        color: #333;
        text-decoration: none;
      }
      .email-resource-info {
        font-weight: bold;
        font-size: 13px;
        color: #999;
        padding: 8px 0 8px;
      }
      .email-resource-teaser {
        font-family: Aria, sans-serif;
        font-size: 16px;
        line-height: 24px;
      }
      .email-resource-read-more {
        font-weight: bold;
        color: #18b;
        text-decoration: underline;
      }
    </style>
  </head>
  <body id="mimemail-body"{{ attributes.addClass(classes) }}>
    <div id="center">
      <div id="main">
        {{ body|raw }}
      </div>
    </div>
  </body>
</html>
