/**
 * Blog post.
 *
 * Latest blog post.
 */
.path-frontpage .rw-river--blog h2 {
  font-size: 24px;
}
.path-frontpage .rw-river--blog article {
  padding: 0;
  border: none;
}
.path-frontpage .rw-river--blog article .rw-river-article__content {
  display: block;
}

/* Latest blog posts */
.rw-river--latest-blog-posts h2 {
  padding-left: 8px;
  border-left: 8px solid #0988bb;
}
.rw-river--latest-blog-posts .rw-river-article--blog-post {
  --cd-flow-space: 12px;
  padding: 0 0 12px;
}
.rw-river--latest-blog-posts .rw-river-article--blog-post:last-child {
  padding-bottom: 0;
}
.rw-river--latest-blog-posts .rw-river-article--blog-post header + footer {
  padding-top: 0;
}

/**
 * Blog river.
 *
 * List of the blog posts.
 */
.rw-river-page--blog {
  --cd-flow-space: 1rem;
}
.rw-river-page--blog .rw-river-article--blog-post > h3 {
  margin: 0;
  font-weight: normal;
}
.rw-river-page--blog .rw-river-article--blog-post > header .rw-river-article__header {
  font-size: 18px;
}
.rw-river-page--blog .rw-river-article--blog-post .rw-river-article__content {
  display: block;
}
.rw-river-article__author {
  margin: 12px 0 0 0;
  font-size: 15px;
  font-style: italic;
}
.rw-river-page--blog .rw-river-results {
  padding-top: 0;
  text-align: center;
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .rw-river-page--blog .rw-river-page--blog {
    margin-bottom: 12px;
  }
  .rw-river-page--blog .rw-river__articles {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* Compensate the margin from the articles. */
    margin: 0 -8px;
  }
  .rw-river-page--blog .rw-river__articles .rw-river-article--blog-post {
    flex: 1 0 40%;
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
    padding: 16px;
    border: 1px solid #e6ecef;
  }
  .rw-river-page--blog .rw-river__articles .rw-river-article--blog-post:nth-child(2) {
    margin-top: 0; /* Compensate for cd-flow top margin */
  }
  .rw-river-page--blog .pager {
    border-top: none;
  }
}
