/**
 * Updates.
 *
 * Latest updates or most read content in the past 24 hours.
 */
/* "Last 24h hours" text. */
.path-frontpage .rw-river--most-read h2 {
  font-size: 24px;
}
.path-frontpage .rw-river--most-read h2 span {
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
}
.path-frontpage .rw-river--most-read article {
  padding: 0 0 24px 0;
  border: none;
}
.path-frontpage .rw-river--most-read article + article {
  padding-top: 24px;
  border-top: 1px solid var(--cd-reliefweb-brand-grey--light);
}
.path-frontpage .rw-river--most-read .view-more {
  margin-top: 8px;
}
