{% set cc = link('Creative Commons BY 4.0'|t, 'https://creativecommons.org/licenses/by/4.0')|render %}
<div class="cd-footer__section cd-footer__section--copyright">
  <div class="cd-footer-copyright">

    <p><a href="https://reliefweb.int/terms-conditions"><span class="accessibility">{{ "ReliefWeb's Terms & Conditions."|t }}</span></a></p>
    <p>&copy; {{ "now"|date("Y") }} {{"all rights reserved."|t }}</p>

  </div>
</div>
