{% embed '@common_design/cd/cd-footer/cd-ocha.html.twig' %}

  {% block related_platforms %}
    <li class="cd-ocha-services__link"><a href="https://response.reliefweb.int">{{ 'ReliefWeb Response'|t }}</a></li>
    <li class="cd-ocha-services__link"><a href="https://data.humdata.org/">{{ 'Humanitarian Data Exchange'|t }}</a></li>
    <li class="cd-ocha-services__link"><a href="https://humanitarianaction.info">{{ 'Humanitarian Action'|t }}</a></li>
    <li class="cd-ocha-services__link"><a href="https://cerf.un.org">{{ 'Central Emergency Response Fund'|t }}</a></li>
  {% endblock %}

{% endembed %}
