{% embed '@common_design/cd/cd-footer/cd-social-menu.html.twig' %}

  {% block social_media %}

    <ul class="cd-footer-social__list">
      <li class="cd-footer-social__item">
        <a href="https://www.facebook.com/reliefweb" class="cd-footer-social__link">
          <span class="visually-hidden">Facebook</span>

          <svg class="cd-icon cd-icon--facebook" aria-hidden="true" focusable="false" width="32" height="32">
            <use xlink:href="#cd-icon--sm-fb-def"></use>
          </svg>

          <svg class="cd-icon cd-icon--facebook hover-style" aria-hidden="true" focusable="false" width="32" height="32">
            <use xlink:href="#cd-icon--sm-fb-full"></use>
          </svg>
        </a>
      </li>
      <li class="cd-footer-social__item">
        <a href="https://x.com/reliefweb" class="cd-footer-social__link">
          <span class="visually-hidden">X</span>

          <svg class="cd-icon cd-icon--twitter" aria-hidden="true" focusable="false" width="32" height="32">
            <use xlink:href="#cd-icon--sm-tt-def"></use>
          </svg>

          <svg class="cd-icon cd-icon--twitter hover-style" aria-hidden="true" focusable="false" width="32" height="32">
            <use xlink:href="#cd-icon--sm-tt-full"></use>
          </svg>
        </a>
      </li>
      <li class="cd-footer-social__item">
        <a href="https://www.linkedin.com/company/reliefweb" class="cd-footer-social__link">
          <span class="visually-hidden">LinkedIn</span>

          <svg class="cd-icon cd-icon--linkedin" aria-hidden="true" focusable="false" width="32" height="32">
            <use xlink:href="#cd-icon--sm-ln-def"></use>
          </svg>

          <svg class="cd-icon cd-icon--linkedin hover-style" aria-hidden="true" focusable="false" width="32" height="32">
            <use xlink:href="#cd-icon--sm-ln-full"></use>
          </svg>
        </a>
      </li>
      <li class="cd-footer-social__item">
        <a href="https://www.instagram.com/reliefweb1996/" class="cd-footer-social__link">
          <span class="visually-hidden">Instagram</span>

          <svg class="cd-icon cd-icon--instagram" aria-hidden="true" focusable="false" width="32" height="32">
            <use xlink:href="#cd-icon--sm-ig-def"></use>
          </svg>

          <svg class="cd-icon cd-icon--instagram hover-style" aria-hidden="true" focusable="false" width="32" height="32">
            <use xlink:href="#cd-icon--sm-ig-full"></use>
          </svg>
        </a>
      </li>
      <li class="cd-footer-social__item">
        <a href="https://t.me/+8QT4PI32MbY3MDdh" class="cd-footer-social__link">
          <span class="visually-hidden">Telegram</span>

          <svg class="cd-icon cd-icon--telegram" aria-hidden="true" focusable="false" width="32" height="32">
            <use xlink:href="#cd-icon--sm-tg-def"></use>
          </svg>

          <svg class="cd-icon cd-icon--telegram hover-style" aria-hidden="true" focusable="false" width="32" height="32">
            <use xlink:href="#cd-icon--sm-tg-full"></use>
          </svg>
        </a>
      </li>
    </ul>

  {% endblock %}

{% endembed %}
