/**
 * Advanced search.
 */
.rw-advanced-search {
  position: relative;
  /* Enough space for the add filter button so there is no resizing when
   * it's added via javascript. */
  min-height: 140px;
  margin: 24px 0 8px 0;
  /* The padding left is for the space for the :before. */
  padding: 12px 12px 12px 13px;
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
  /* var(--cd-reliefweb-brand-grey--light) with 0.2 opacity on white. */
  background: #fafbfb;
}
.rw-advanced-search:before {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  width: 2px;
  content: "";
  background: var(--cd-reliefweb-brand-blue);
}
.rw-advanced-search__title {
  margin: 0;
  padding-right: 32px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}
.rw-advanced-search__form__content {
  position: relative;
}

.rw-advanced-search__help {
  position: absolute;
  top: 12px;
  right: 12px;
  overflow: hidden;
  /* Use content-box here to avoid a display issue on Safari where some tiny
   * part of the icon on the right is displayed when using border-box due to
   * the border. */
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  text-indent: 12px;
  border: 4px solid var(--cd-reliefweb-brand-grey--light);
  border-radius: 50%;
  background: var(--rw-icons--common--help--12--dark-blue);
  background-color: var(--cd-reliefweb-brand-grey--light);
}
.rw-advanced-search__help:active,
.rw-advanced-search__help:hover,
.rw-advanced-search__help:focus {
  background: var(--rw-icons--common--help--12--dark-red);
  background-color: var(--cd-reliefweb-brand-grey--light);
}

/**
 * Advanced search filter selection.
 */
.rw-advanced-search__selection {
  margin: 12px 0;
  padding: 12px 0 4px 0;
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
  border-width: 1px 0 1px 0;
}
.rw-advanced-search__selection[data-selection="0"] {
  padding: 0;
  border-width: 0 0 1px 0;
}
/* Clear any floating from the selection content. */
.rw-advanced-search__selection:after {
  display: block;
  clear: both;
  width: 100%;
  content: "";
}

/**
 * Advanced search filter selection - Operator switcher.
 */
.rw-advanced-search__selection [data-field] {
  position: relative;
}
.rw-advanced-search__selection [data-operator] {
  position: relative;
  display: inline-block;
  margin: 0 0 8px 0;
  padding: 4px 8px;
  color: var(--cd-reliefweb-brand-grey--dark);
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
  background: white;
  font-size: 13px;
  font-weight: normal;
}
.rw-advanced-search__selection [data-operator*="with"] {
  clear: both;
}
.rw-advanced-search__selection [data-operator*="with"]:before,
.rw-advanced-search__selection [data-operator*="any"]:before,
.rw-advanced-search__selection [data-operator*="all"]:before {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  width: 2px;
  content: "";
  background: var(--cd-reliefweb-brand-red--dark);
}
.rw-advanced-search__selection [data-operator] button[aria-expanded] {
  position: relative;
  margin: -4px -8px;
  padding: 4px 24px 4px 8px;
  color: inherit;
  border: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;
}
.rw-advanced-search__selection [data-operator] button[aria-expanded]:after {
  position: absolute;
  top: 50%;
  right: 8px;
  overflow: hidden;
  width: 9px;
  height: 9px;
  margin-top: -4.5px;
  content: "";
  background: var(--rw-icons--toggle--down--9--dark-blue);
}
.rw-advanced-search__selection [data-operator] button[aria-expanded="true"]:after {
  background: var(--rw-icons--toggle--up--9--dark-blue);
}
.rw-advanced-search__selection [data-operator] ul {
  position: absolute;
  z-index: 2;
  left: 0;
  display: none;
  margin: 4px 0 0 0;
  padding: 4px;
  list-style: none;
  text-align: left;
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
  background: white;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.rw-advanced-search__selection [data-operator] button[aria-expanded="true"] + ul {
  display: block;
}
.rw-advanced-search__selection [data-operator] ul li {
  position: relative;
  margin: 0;
  padding: 8px 8px 8px 28px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
}
.rw-advanced-search__selection [data-operator] ul li:last-child {
  margin: 0;
}
.rw-advanced-search__selection [data-operator] ul li[aria-selected] {
  background: var(--cd-reliefweb-brand-grey--light);
}
.rw-advanced-search__selection [data-operator] ul li[aria-disabled] {
  display: none;
}
.rw-advanced-search__selection [data-operator] ul li:before {
  position: absolute;
  top: 50%;
  left: 8px;
  display: none;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  content: "";
  border: none;
  background: var(--rw-icons--common--selected--12--dark-blue);
}
.rw-advanced-search__selection [data-operator] li[aria-selected]:before {
  display: block;
}
.rw-advanced-search__selection [data-value] {
  display: block;
  clear: both;
  margin: 0 0 8px 0;
  padding: 3px 30px 3px 8px;
  font-size: 14px;
  line-height: 22px;
}
.rw-advanced-search__selection [data-value] button {
  width: 28px;
  height: 28px;
  padding: 0 0 0 28px;
}

/**
 * Adavanced search form.
 */
.rw-advanced-search__form {
  position: relative;
}
/* Clear any floating from the actions. */
.rw-advanced-search__form:after {
  display: block;
  clear: both;
  width: 100%;
  content: "";
}
.rw-advanced-search__actions {
  margin: 12px 0 0 0;
  padding: 12px 0 0 0;
  text-align: center;
  border: 1px solid var(--cd-reliefweb-light-grey);
  border-width: 1px 0 0 0;
}
.rw-advanced-search[data-empty] .rw-advanced-search__actions {
  display: none;
}
.rw-advanced-search__actions button {
  height: 36px;
  padding: 0 14px;
  line-height: 36px;
}
.rw-advanced-search__actions button[data-clear] {
  color: var(--cd-reliefweb-brand-blue--dark);
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: normal;
}
.rw-advanced-search__actions button[data-clear]:hover,
.rw-advanced-search__actions button[data-clear]:active,
.rw-advanced-search__actions button[data-clear]:focus {
  color: var(--cd-reliefweb-brand-red--dark);
}
.rw-advanced-search__actions button[data-apply="true"] {
  position: relative;
  padding-left: 40px;
  background: var(--cd-reliefweb-brand-red--dark);
}
.rw-advanced-search__actions button[data-apply="true"]:before {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  content: "";
  background: var(--rw-icons--common--next--18--white);
}

/**
 * Advanced search filter selector togglers.
 */
.rw-advanced-search button[data-toggler] {
  min-height: 32px;
  margin: 0;
  padding: 0;
  color: var(--cd-reliefweb-brand-blue--dark);
  border: none;
  background: transparent;
  line-height: 20px;
}
.rw-advanced-search button[data-toggler][data-hidden="true"] {
  visibility: hidden;
}
.rw-advanced-search button[data-toggler]:before {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  content: "";
  vertical-align: top;
  border: 4px solid  var(--cd-reliefweb-light-grey);
  border-radius: 50%;
  background: var(--rw-icons--common--add--12--dark-blue);
  background-color: var(--cd-reliefweb-light-grey);
}

.rw-advanced-search button[data-toggler]:hover,
.rw-advanced-search button[data-toggler]:active,
.rw-advanced-search button[data-toggler]:focus {
  text-decoration: underline;
}
.rw-advanced-search button[data-toggler] span.label-suffix {
  margin-left: 4px;
  font-weight: normal;
}
.rw-advanced-search button[data-toggler="single"] {
  /* Only displayed on large screens. */
  display: none;
  min-height: 38px;
  font-weight: normal;
}

/**
 *  Advanced search filter selector.
 */
.rw-advanced-search__filter-selector {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 284px;
  padding: 10px;
  border: 1px solid var(--cd-reliefweb-light-grey);
  background: white;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.rw-advanced-search__filter-selector[data-hidden="true"] {
  display: none;
}
/* Clear the floating from the buttons. */
.rw-advanced-search__filter-selector:after {
  display: block;
  clear: both;
  width: 100%;
  content: "";
}
.rw-advanced-search__filter-selector__title {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
}
.rw-advanced-search__filter-selector fieldset[disabled] {
  display: none;
}
.rw-advanced-search__filter-selector legend,
.rw-advanced-search__filter-selector label {
  float: none;
  margin: 0;
  padding: 12px 0 0 0;
  font-size: 15px;
  font-weight: normal;
}
.rw-advanced-search__filter-selector [data-widget="date"] label {
  font-size: 14px;
  font-style: italic;
}
.rw-advanced-search__filter-selector input,
.rw-advanced-search__filter-selector select,
.rw-advanced-search__filter-selector > div > button {
  display: block;
  width: 100%;
  height: 36px;
  margin: 4px 0 0 0;
  font-size: 15px;
  line-height: 36px;
}
.rw-advanced-search__filter-selector input {
  padding: 8px;
  line-height: 1;
}
.rw-advanced-search__filter-selector > div > button {
  margin: 12px 0 0 0;
  padding: 0 14px;
}
.rw-advanced-search__filter-selector > div > button[data-cancel] {
  float: left;
  width: 48%;
  color: var(--cd-reliefweb-brand-blue--dark);
  border: 1px solid var(--cd-reliefweb-brand-blue--dark);
  background: transparent;
  font-weight: normal;
}
.rw-advanced-search__filter-selector > div > button[data-cancel]:hover,
.rw-advanced-search__filter-selector > div > button[data-cancel]:active,
.rw-advanced-search__filter-selector > div > button[data-cancel]:focus {
  color: var(--cd-reliefweb-brand-red--dark);
  border-color: var(--cd-reliefweb-brand-red--dark);
  background: transparent;
}
.rw-advanced-search__filter-selector > div > button[data-add] {
  float: right;
  width: 48%;
}
.rw-advanced-search__filter-selector [data-autocomplete] {
  padding: 0;
}
.rw-advanced-search__filter-selector [data-autocomplete] > input {
  box-sizing: border-box;
  height: 36px;
  padding: 8px;
  border: 1px solid var(--cd-reliefweb-light-grey);
}

/**
 * Advanced search operator selector.
 */
.rw-advanced-search__operator-selector [disabled] {
  display: none;
}

/**
 * Advanced search simplified filters.
 */
.rw-advanced-search__simplified-filters > div {
  position: relative;
}
.rw-advanced-search__advanced-mode-switch-container {
  position: relative;
  margin: 12px 0 0 0;
  padding: 12px 0 0 0;
  border-top: 1px solid var(--cd-reliefweb-light-grey);
}
.rw-advanced-search__advanced-mode-switch-container * {
  display: inline-block;
  vertical-align: top;
  font-weight: normal;
}
.rw-advanced-search__advanced-mode-switch-container input {
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 2px;
}
.rw-advanced-search__advanced-mode-switch-container label {
  margin: 0 8px 0 0;
  font-size: 15px;
}
.rw-advanced-search__advanced-mode-switch-container .rw-advanced-search__help {
  position: relative;
  top: auto;
  right: auto;
}

/**
 * Advanced search - simplified mode.
 */
.rw-advanced-search[data-advanced-mode="false"] .rw-advanced-search__selection [data-operator] {
  margin-top: 8px;
}
.rw-advanced-search[data-advanced-mode="false"] .rw-advanced-search__selection [data-field]:first-child [data-operator] {
  margin-top: 0;
}
.rw-advanced-search[data-advanced-mode="false"] .rw-advanced-search__selection [data-operator="and"],
.rw-advanced-search[data-advanced-mode="false"] .rw-advanced-search__selection [data-operator="or"] {
  display: none;
}
.rw-advanced-search[data-advanced-mode="false"] .rw-advanced-search__operator-selector,
.rw-advanced-search[data-advanced-mode="false"] .rw-advanced-search__operator-selector-label {
  display: none;
}

/**
 * Advanced search - large screens.
 */
@media all and (min-width: 768px) {
  .rw-advanced-search {
    margin: 0;
  }
  .rw-advanced-search__title {
    font-weight: bold;
  }
  .rw-advanced-search__actions {
    margin: 0 0 12px 0;
    padding: 0 0 12px 0;
    border-width: 0 0 1px 0;
  }
  /* Show the single filter togglers. */
  .rw-advanced-search button[data-toggler="single"] {
    display: block;
  }
  /* Hide the combined filter toggler. */
  .rw-advanced-search button[data-toggler="combined"] {
    display: none;
  }
  .rw-advanced-search[data-advanced-mode] .rw-advanced-search__field-selector,
  .rw-advanced-search[data-advanced-mode] .rw-advanced-search__field-selector-label {
    display: none;
  }
  .rw-advanced-search[data-advanced-mode="false"] .rw-advanced-search__filter-selector__title {
    display: none;
  }
  .rw-advanced-search[data-advanced-mode="false"] .rw-advanced-search__filter-selector legend {
    padding: 0;
    font-size: 15px;
    font-weight: bold;
  }
  .rw-advanced-search[data-advanced-mode="false"] .rw-advanced-search__filter-selector legend.visually-hidden + label {
    padding: 0 0 4px 0;
    font-size: 15px;
    font-weight: bold;
  }
}
