//——————————————————————————————————————————————————————————————————————————————
// Common Design: Layout
//——————————————————————————————————————————————————————————————————————————————
.cd-layout-container {
  @supports (display: grid) {
    @include tablet {
      /* Increase grid row height to accommodate site-slogan 50px */
      grid-template-rows: 151px auto 1fr auto;
    }
  }
}

/* Decrease breakpoints from base theme
   To facilitate the sticky TOC
*/
.cd-layout-container .cd-layout-content-wrapper {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}
.cd-layout-content {
  @include tablet {
    flex-basis: 0;
    flex-grow: 999;
  }
}
