{#

/**
 * @file
 * Template file for a disaster entity article in a river.
 *
 * Available variables;
 * - level: heading level (defaults to 3)
 * - attributes: article attributes
 * - entity: the article entity's data as an associative array with notably:
 *   - url: url to the full article/page
 *   - title: article title
 *   - langcode: article language code
 *   - id: entity id
 *   - bundle: entity bundle.
 *   - tags (optional): list of terms the entity is tagged with
 *   - various properties like posting date, status etc.
 */

#}
<article{{ attributes
  .addClass([
    'rw-river-article',
    'rw-river-article--' ~ entity.bundle,
  ])
  .setAttribute('data-id', entity.id)
}}>
  {# Header with title. #}
  <header class="rw-river-article__header">
    {# Title. #}
    {{ render_var({
      '#theme': 'reliefweb_rivers_river_article_title',
      '#level': level,
      '#langcode': entity.langcode,
      '#url': entity.url,
      '#title': entity.title,
    }) }}
  </header>

  {# Footer with meta information (sources, dates etc.). #}
  <footer class="rw-river-article__footer">
    {% if entity.tags.publication is empty %}
      <p>{{ 'No current publications'|t }}</p>
    {% else %}
      {{ render_var({
        '#theme': 'reliefweb_entities_entity_meta',
        '#meta': {
          'publication': {
            'type': 'taglist',
            'label': 'Publications'|t,
            'value': entity.tags.publication,
            'count': NULL,
            'sort': NULL,
          },
        }
      }) }}
    {% endif %}
  </footer>
</article>
