{#

/**
 * @file
 * Template file for the country slug of a river article.
 *
 * Available variables;
 * - countries: list of countries with the following properties:
 *   - url: url to either the country page or the river filtered by the country
 *   - name: country name
 *   - shortname:  country short name.
 */

#}

{{ attach_library('common_design/cd-tag') }}

{% if countries %}
<p class="rw-river-article__country_slug cd-tag cd-tag--linked">
  {% for item in countries|taglist(1, 'shortname') %}
    <a class="rw-river-article__country_slug__link" href="{{ item.url }}">{{ item.shortname ?? item.name }}</a>
  {% endfor %}
  {% if countries|length > 1 %}
    <span class="rw-river-article__country_slug__more">{{ '+ @count more'|t({
      '@count': (countries|length) - 1,
    }) }}</span>
  {% endif %}
</p>
{% endif %}
