{#

/**
 * @file
 * Template file for the country slug of a river article.
 *
 * Available variables;
 * - countries: list of countries with the following properties:
 *   - url: url to either the country page or the river filtered by the country
 *   - name: country name
 *   - shortname:  country short name.
 */

#}

{% block library %}
{% endblock %}

{% if countries %}
  {% block wrapper %}
    <p class="rw-river-article__country-slug">
  {% endblock %}
  {% for item in countries|taglist(1, 'shortname') %}
    <a class="rw-river-article__country-slug__link" href="{{ item.url }}">{{ item.shortname ?? item.name }}</a>
  {% endfor %}
  {% if countries|length > 1 %}
    <span class="rw-river-article__country-slug__more">{{ '+ @count more'|t({
      '@count': (countries|length) - 1,
    }) }}</span>
  {% endif %}
</p>
{% endif %}
