/* OCHA digital sitrep */
.rw-dsr .rw-dsr__title {
  margin-bottom: 24px;
}
.rw-dsr .rw-dsr__title small {
  white-space: nowrap;
  font-weight: normal;
}
.rw-dsr .rw-dsr__title span.rw-dsr__ocha {
  position: relative;
  display: inline-block;
  /* Width of the logo below. */
  width: 80px;
  /* Space between the logo and the rest of the title. */
  margin-right: 8px;
  /* Better default when the logo cannot be loaded. */
  text-align: center;
  letter-spacing: 0.5px;
  /* h3 styles */
  font-size: 20px;
  font-weight: bold;
  /* Better vertical alignment. */
  line-height: 1;
}
.rw-dsr .rw-dsr__title span.rw-dsr__ocha:after {
  position: absolute;
  top: 50%;
  left: 0;
  overflow: hidden;
  width: 80px;
  height: 20px;
  /* 1px more that 1/2 the height for better alignment with the rest of the
   * digital sitrep title as the font size is 18px. */
  margin-top: -11px;
  content: "";
  /* The logo has a white background and will be display above the text. */
  background: url(../../img/logos/ocha-logo-sprite.png) 0 -57px no-repeat;
  background: rgba(0, 0, 0, 0) url(../../img/logos/ocha-logo-sprite.svg) 0 -57px no-repeat;
}
.rw-dsr ul {
  padding-left: 18px;
}
.rw-dsr li {
  margin-bottom: 16px;
  line-height: 1.5;
}
.rw-dsr figure {
  display: none;
  max-width: 540px;
  margin: 0;
}
.rw-dsr figure img {
  display: block;
  width: 100%;
}
.rw-dsr figure figcaption {
  margin-top: 4px;
  font-size: 15px;
  font-style: italic;
}
.rw-dsr .view-more {
  margin-top: 12px;
}
.rw-dsr .view-more a {
  margin-right: 0;
  padding-right: 0;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
}
.rw-dsr .rw-dsr__title + .view-more,
.rw-dsr .rw-dsr__title + .view-more a {
  margin-top: 0;
  text-align: left;
}

/* Media queries. */
@media screen and (min-width: 768px) {
  .rw-dsr {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
  }
  .rw-dsr > .rw-dsr__title,
  .rw-dsr > footer {
    width: 100%;
  }
  .rw-dsr--with-illustration > ul,
  .rw-dsr--with-illustration > figure {
    display: block;
    width: 48%;
    /* Ensure the top of the highlights is aligned with the illustration.
     *
     * @todo currently the top margin of the highlights (ul) comes from the
     * browser user agent styling (ex: margin-block-start: 1em;). Setting it
     * to 0 here means the spacing between the title section and the highlights
     * differs when there is an illustation or not which is not consistent.
     * So it would be better to have a fixed margin (0 or something else)
     * regardless of the presence of the illustration. This margin should be
     * consistent with the other sections on the page the DSR one is displayed
     * for a more homogeneous experience. See RW-55. */
    margin-top: 0;
  }
}

/* Ugly hack for IE8 to hide the text due bad handling of z-index. */
@media \0screen {
  .rw-dsr .rw-dsr__title span.rw-dsr__ocha {
    overflow: hidden;
    margin-top: -4px;
    padding-left: 80px;
    vertical-align: middle;
    white-space: nowrap;
  }
}
