/**
 * Opportunities.
 *
 * Open jobs and training.
 */
.rw-homepage-opportunties h2 {
  font-size: var(--cd-font-size--large);
}
.rw-homepage-opportunties ul {
  margin: 24px 0 0 0;
  padding: 0;
  list-style: none;
}
.rw-homepage-opportunties li {
  margin: 0;
  background: var(--cd-reliefweb-brand-grey--light);
}
.rw-homepage-opportunties li + li {
  margin-top: 16px;
}
.rw-homepage-opportunties li * {
  display: inline-block;
  vertical-align: middle;
  line-height: 36px;
}
.rw-homepage-opportunties li a {
  position: relative;
  width: 100%;
  padding: 20px 100px 20px 20px;
  text-decoration: none;
  font-size: 22px;
}
.rw-homepage-opportunties li a:hover,
.rw-homepage-opportunties li a:active,
.rw-homepage-opportunties li a:focus {
  text-decoration: none;
  outline: 1px solid var(--cd-reliefweb-brand-blue--dark);
}
/* Number of open ads. */
.rw-homepage-opportunties li data {
  margin-right: 12px;
  font-size: 32px;
  font-weight: bold;
}
.rw-homepage-opportunties [data-type] a:before {
  position: absolute;
  top: 50%;
  right: 22px;
  overflow: hidden;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  content: "";
  opacity: 0.5;
  background: var(--rw-icons--content--job--36--dark-blue);
}
.rw-homepage-opportunties [data-type="training"] a:before {
  background: var(--rw-icons--content--training--36--dark-blue);
}
/* Border to separate the logo from the text. */
.rw-homepage-opportunties [data-type] a:after {
  position: absolute;
  top: 0;
  right: 79px;
  width: 2px;
  height: 100%;
  content: "";
  background: white;
}

/* Training and Job Headings */
.rw-how-to-apply__title,
.rw-fee-information__title {
  padding-left: 8px;
  border-left: 8px solid var(--cd-reliefweb-brand-blue);
}
