/**
 * Sub article.
 *
 * Articles in a section like headlines etc.
 */
.rw-river-article {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  border-top: 1px solid #e6ecef;
}
.rw-river-article:first-child {
  border-top: none;
}
.rw-river-article header {
  /* Compensate the half-leading space from the title line-height. */
  margin-top: -5px;
}
.rw-river-article header p.rw-entity-country-slug {
  margin: 2px 6px 0 0;
  padding: 1px 8px;
  font-size: 14px;
  line-height: 22px;
}
.rw-river-article > header .title,
.rw-river-article > .title {
  display: inline;
  margin: 0;
  color: #055372;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
}
.rw-river-article > header .title a,
.rw-river-article > .title a {
  color: inherit;
}
.rw-river-article .content {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding-top: 16px;
  /* #2e3436 with 0.85 opacity on white. */
  color: #4d5254;
}
/* Article with a thumbnail preview (typically Map and Infographic). */
.rw-river-article .content img {
  float: left;
  max-height: 118px;
  margin: 2px 20px 0 0;
  border: 1px solid #e6ecef;
}
.rw-river-article .content img + p {
  margin-top: 0;
}

@media all and (max-width: 479px) {
  .rw-river-article .content img {
    display: none;
  }
}
.rw-river-article footer {
  /* Clear any floating from the content. */
  clear: both;
  /* Compensate  the half-leading space added by the line-height of the <dl>. */
  margin-bottom: -8px;
  padding-top: 16px;
}
.rw-river-article header + footer {
  padding-top: 12px;
}

/**
 * Article meta information.
 *
 * Meta information like source or publication date, generally in the header or
 * footer.
 */
#main-content article dl.rw-entity-meta {
  margin: 0;
}
#main-content article dl.rw-entity-meta + dl.rw-entity-meta {
  margin-top: 4px;
}
#main-content article dl.rw-entity-meta:after {
  display: block;
  clear: both;
  content: "";
}
#main-content article dl.rw-entity-meta dt {
  display: inline;
  float: left;
  clear: both;
  margin: 0 4px 0 0;
  font-size: 15px;
  font-weight: bold;
  /* To have enough tapping space between links. */
  line-height: 29px;
}
#main-content article dl.rw-entity-meta dt:after {
  content: ": ";
}
#main-content article dl.rw-entity-meta dd {
  margin: 0;
  /* To have enough tapping space between links. */
  line-height: 30px;
}
#main-content article dl.rw-entity-meta dd ul,
#main-content article dl.rw-entity-meta dd li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-content article dl.rw-entity-meta dd li:after {
  content: ", ";
}
/* This will be ignored in IE8 but it's not a big deal. */
#main-content article dl.rw-entity-meta dd li:last-child:after,
#main-content article dl.rw-entity-meta dd li[data-last]:after {
  content: none;
}
#main-content article dl.rw-entity-meta dd li[data-more]:before {
  content: " + ";
}
#main-content > article header dl.rw-entity-meta {
  margin: 8px 0 -6px 0;
}
/* Show the meta information inline. */
@media screen and (min-width: 480px) {
  #main-content article header dl.rw-entity-meta dt {
    float: none;
  }
  #main-content article header dl.rw-entity-meta dd {
    display: inline;
  }
  /* Separator. */
  #main-content article header dl.rw-entity-meta dd:after {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 8px;
    padding: 0;
    content: "";
    vertical-align: middle;
    border-radius: 4px;
    background: #2e3436;
  }
  #main-content article header dl.rw-entity-meta dd:last-of-type:after {
    content: none;
  }
}

/**
 * Meta for river articles.
 */
.rw-river-article dl.rw-entity-meta {
  margin: 0;
}
.rw-river-article dl.rw-entity-meta dt {
  display: inline-block;
  float: none;
  font-size: 14px;
}
.rw-river-article dl.rw-entity-meta dd {
  display: inline-block;
  font-size: 15px;
}
.rw-river-article dl.rw-entity-meta--core {
  /* #2e3436 with 0.85 opacity on white. */
  color: #4d5254;
}
.rw-river-article dl.rw-entity-meta--core dd:after {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 8px;
  padding: 0;
  content: "";
  vertical-align: middle;
  border-radius: 4px;
  background: #2e3436;
}
.rw-river-article dl.rw-entity-meta--core dd.created:after {
  margin-left: 12px;
}
/* This will be ignored in IE8 but it's not a big deal. */
.rw-river-article dl.rw-entity-meta--core dd:last-of-type:after,
.rw-river-article dl.rw-entity-meta--core dd[data-last]:after {
  content: none;
}
/* Display meta one per line on smaller screen to improve readability. */
@media all and (max-width: 479px) {
  .rw-river-article dl.rw-entity-meta--core dd {
    display: inline;
  }
  .rw-river-article dl.rw-entity-meta--core dd:after {
    display: block;
    width: 0;
    height: 0;
    margin: 0;
  }
}
