/**
 * Report page.
 *
 * Individual report pages. Those are made of the main content body with
 * eventual attachments.
 */

/* Attachments. */
.node--report--full .rw-report__content section {
  padding-top: 0;
}
.node--report--full .rw-attachment {
  margin: 0 auto 24px auto;
  padding-top: 0;
}
.node--report--full .rw-attachment.rw-attachment--report {
  max-width: 220px;
}

@media screen and (min-width: 480px) {
  .node--report--full .rw-attachment.rw-attachment--report {
    float: right;
    margin-left: 24px;
  }
}
.node--report--full .rw-attachment ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.node--report--full .rw-attachment li {
  margin: 0;
  padding: 16px 0;
  text-align: center;
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
}
.node--report--full .rw-attachment li + li {
  margin-top: 24px;
}
.node--report--full .rw-attachment img {
  width: 100%;
  margin: -16px 0 8px 0;
  border-bottom: 1px solid var(--cd-reliefweb-brand-grey--light);
}
.node--report--full .rw-attachment strong {
  display: block;
  padding: 0 16px;
}
.node--report--full .rw-attachment strong:first-letter {
  text-transform: capitalize;
}
.node--report--full .rw-attachment span {
  display: block;
  padding: 4px 16px 0 16px;
  font-size: 14px;
}
/* Interactive tool screenshots. */
.node--report--full .rw-attachment--interactive {
  padding-top: 0;
  text-align: center;
}
.node--report--full .rw-attachment--interactive .rw-attachment__title {
  margin: 0;
  padding: 0 0 20px 0;
  border: none;
  font-size: 16px;
  font-weight: normal;
}
.node--report--full .rw-attachment--interactive figure a[target="_blank"][rel~="noopener"]::after {
  display: none;
}
.node--report--full .rw-attachment--interactive figure figcaption {
  padding: 4px;
  background: var(--cd-reliefweb-brand-grey--light);
}
.node--report--full .rw-attachment--interactive figure img {
  width: 100%;
  margin: 0;
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
}
.node--report--full .rw-attachment--interactive figure a:hover img,
.node--report--full .rw-attachment--interactive figure a:active img,
.node--report--full .rw-attachment--interactive figure a:focus img {
  border-color: var(--cd-reliefweb-brand-blue--dark);
}
.node--report--full .rw-attachment--interactive footer {
  padding-top: 4px;
}
.node--report--full .rw-attachment + p {
  margin-top: 0;
}

.node--report--full .rw-entity-source-disclaimers {
  margin: 24px 0 0 0;
  font-size: 13px;
}
.node--report--full .rw-entity-source-disclaimers dt {
  font-weight: bold;
}
.node--report--full .rw-entity-source-disclaimers dt:after {
  content: ": ";
}
.node--report--full .rw-entity-source-disclaimers dd {
  margin: 4px 0 0 0;
  padding: 0;
}

/* Lists in content */
.node--report--full li {
  margin: 8px 0 0;
}

/* Special rules for The Conversation counter images... */
.node--report--full img[src*="counter.theconversation.com"] {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}
.node--report--full img[src*="counter.theconversation.com"] + p {
  margin-top: 0;
}
