/**
 * Administration menu.
 *
 * This menu contains links to the administration or editorial related pages.
 */
.admin-menu {
  /* The padding is for the blank space between the admin menu and the ocha
   * services. */
  padding: 0 0 48px 0;
  text-align: left;
}
.admin-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 35px;
  padding: 0 20px;
  transition: background 0.3s ease;
  color: var(--cd-white);
  background: transparent;
  font-size: var(--cd-font-size--tiny);
}
.admin-menu__btn:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .admin-menu__btn span {
    position: relative;
    top: 2px;
    display: inline-block;
    overflow: hidden;
    width: 12px;
    height: 12px;
    text-indent: 12px;
    background: var(--rw-icons--common--admin--12--white);
  }
}

.admin-menu__btn::after,
/* Guidelines / Help separator. Not the best place to add but this avoids adding
 * a duplicate rule somewhere else and the guidelines and admin menu are both
 * only displayed to Editors. */
.admin-menu + * .navigation:not(.menu--account) > .menu > .menu-item:not(:last-child) > a::after {
  position: absolute;
  top: 50%;
  right: -1px;
  width: 1.5px;
  height: calc(35px / 3);
  content: "";
  transform: translateY(-50%);
  background: var(--cd-white);
}

.admin-menu-dropdown {
  width: 100%;
  padding: 22px 0;
}

.admin-menu-dropdown__inner {
  max-width: var(--cd-max-width);
  padding: 0 var(--cd-container-padding);
}

@media screen and (min-width: 768px) {
  .admin-menu-dropdown__inner {
    margin: 0 auto;
    padding: 0 var(--cd-container-padding-tablet);
  }
}

@media screen and (min-width: 1024px) {
  .admin-menu-dropdown__inner {
    padding: 0 var(--cd-container-padding-xlarge);
  }
}

.admin-menu nav {
  font-size: 12px;
  line-height: 1.5;
}
.admin-menu ul,
.admin-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.admin-menu h2 {
  margin-top: 0;
  color: var(--cd-white);
}
.admin-menu h3 {
  margin: 0;
  padding: 0;
  color: var(--brand-grey);
  font-size: 12px;
  font-weight: lighter;
}
.admin-menu nav > ul > li + li {
  margin-top: 20px;
}
.admin-menu ul ul li {
  display: inline-block;
  margin: 12px 24px 0 0;
}
.admin-menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.admin-menu li a:hover,
.admin-menu li a:active,
.admin-menu li a:focus {
  text-decoration: underline;
}

/**
 * Admin menu - javascript enabled.
 */

.js .admin-menu {
  /* Compensate for the `gap` property on the `.cd-global-header__inner` so
   * that the menu is evenly spaced with the other menus in the header. */
  margin-right: -7px;
  margin-left: auto;
  padding: 0;
}

/* Print. */
@media print {
  .admin-menu {
    display: none !important;
  }
}
