.path-frontpage .cd-block-title--underline {
  border-bottom: 1px solid var(--brand-highlight);
}

.rw-river--headlines h2.cd-block-title {
  font-size: var(--cd-font-size--large);
}

@media screen and (min-width: 480px) {
  .rw-river--headlines h2.cd-block-title,
  .rw-page-title.cd-block-title {
    margin-bottom: 24px;
    font-size: var(--cd-font-size--2xbase);
  }
}
