//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

body {
  /* Default font size for the main content. */
  font-size: 16px;
}

a {
  color: $cd-blue--dark;

  &:hover,
  &:focus {
    color: $cd-ocha-blue;
  }
}

/**
 * Headings.
 *
 * Base heading styles in the main content. They start at h2 because h1 is the
 * the ReliefWeb logo in the header. h2 are always used for the main section(s)
 * or article of the page (main contnet heading). h3 are for sub-sections
 * or articles. Their style differs whether they are section headings or article
 * headings.
 */
h1,
h2 {
  margin: 0 0 24px 0;
  letter-spacing: 0.5px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3;
}
h3 {
  margin: 0 0 16px 0;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
h4 {
  margin: 0 0 16px 0;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}
h5 {
  margin: 0 0 16px 0;
  letter-spacing: 0.5px;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
}
h6 {
  margin: 0 0 16px 0;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: bold;
}
/* Headings in content following something. */
.rw-article__content * + h3,
.rw-article__content * + h4,
.rw-article__content * + h5,
.rw-article__content * + h6 {
  margin-top: 16px;
}
/* Smaller size on small screen to reduce used real estate. */
@media all and (max-width: 479px) {
  #main h2 {
    font-size: 24px;
  }
}

p {
  margin: 1rem 0;
  line-height: 1.6;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

/* Allow styling of search inputs. */
input[type="search"] {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
/* Fix Safari and older Chrome extra padding. */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* Placeholder style. */
input::-webkit-input-placeholder {
  opacity: 0.7;
  color: inherit;
  font-style: italic;
}
input:-ms-input-placeholder {
  opacity: 0.7;
  color: inherit;
  font-style: italic;
}
input::-moz-placeholder {
  opacity: 0.7;
  color: inherit;
  font-style: italic;
}
input::placeholder {
  opacity: 0.7;
  color: inherit;
  font-style: italic;
}

/* Prevent select from not respecting their container width. */
select {
  max-width: 100%;
}
/* Ensure the button is displayed for select dropdowns while allowing a bit
 * more flexibility in the styling like setting a height. */
select:not([multitple]) {
  -moz-appearance: menulist-button;
  -webkit-appearance: menulist-button;
}
/* Prevent weird behavior with select inside a fieldset not respecting the
 * wanted max-width; */
fieldset {
  min-inline-size: auto;
}
