{% embed '@common_design/cd/cd-header/cd-header.html.twig' %}

  {% block header_content %}
    {% include '@common_design_subtheme/cd/cd-header/cd-global-header.html.twig' %}
    {% include '@common_design_subtheme/cd/cd-header/cd-site-header.html.twig' %}

    <div id="site-slogan">
      <div class="cd-container">
        {% trans %}<span>Informing humanitarians worldwide 24/7 &mdash; <span>a service provided by&nbsp;<span class="ocha">UN OCHA</span></span></span>{% endtrans %}
      </div>
    </div>
  {% endblock %}

{% endembed %}
