{% embed '@common_design/cd/cd-header/cd-ocha.html.twig' %}

  {% block related_platforms %}
    <li class="cd-ocha-dropdown__link"><a href="https://humanitarianresponse.info/">{{ 'Humanitarian Response'|t }}</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://data.humdata.org/">{{ 'Humanitarian Data Exchange'|t }}</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://hum-insight.info/">{{ 'Humanitarian InSight'|t }}</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://cerf.un.org">{{ 'Central Emergency Response Fund'|t }}</a></li>
  {% endblock %}

{% endembed %}
