/**
 * Moderation backend form.
 *
 * Style the moderation forms used by the editorial teams to review posted
 * documents.
 */
.rw-moderation-content-filters {
  padding: 24px 0 0 0;
}
.rw-moderation-filters .rw-moderation-filters__content {
  padding-bottom: 0;
  border-bottom: none;
}
.rw-moderation-filters .rw-moderation-filter-status [class*="form-item-filters-status-"] {
  width: 100%;
  margin-bottom: 12px;
  padding: 2px 8px;
  white-space: nowrap;
  text-transform: none;
  border-left-width: 8px;
  border-left-style: solid;
  font-size: 16px;
  line-height: 16px;
}
.rw-moderation-filters:not(.rw-moderation-filters--user-posts) .rw-moderation-filter-status [class*="form-item-filters-status-"] {
  background: none;
}
.rw-moderation-filters .rw-moderation-filter-status .form-checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 0 24px;
  margin-bottom: -12px;
}
.path-moderation-content-disaster .rw-moderation-filters .rw-moderation-filter-status .form-checkboxes {
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}
.rw-moderation-filters .rw-moderation-filter-other .fieldset-wrapper > * {
  display: inline-block;
  margin-top: 0;
  vertical-align: middle;
}
.rw-moderation-filters .rw-moderation-filter-other .fieldset-wrapper > .form-type-checkbox + .form-type-checkbox {
  margin-top: 0;
}
.rw-moderation-filters .rw-moderation-filter-omnibox .fieldset-wrapper {
  display: table;
}
.rw-moderation-filters .rw-moderation-filter-omnibox .fieldset-wrapper > * {
  display: table-cell;
  height: 32px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.rw-moderation-filters .rw-moderation-filter-omnibox .fieldset-wrapper > :first-child {
  padding-right: 8px;
}
.rw-moderation-filters .rw-moderation-filter-omnibox .fieldset-wrapper select {
  width: auto;
  min-width: 180px;
  height: 46px;
}

.rw-moderation-filters .rw-moderation-filter-omnibox div[data-autocomplete] > input {
  border-right: 2px solid var(--cd-reliefweb-brand-grey--light);
}
.rw-moderation-filters [data-selection] > span span + span {
  font-weight: bold;
}
.rw-moderation-filters .form-actions.form-item {
  margin-top: 16px;
}
/* Link to create a new entity. */
.rw-moderation-filters .form-actions a {
  display: inline-block;
  margin-top: 12px;
  margin-inline-start: 0.5rem;
  padding: 4px 8px;
  text-transform: lowercase;
  border: 2px solid var(--cd-reliefweb-brand-blue--dark);
  border-radius: 8px;
  line-height: 20px;
}
.rw-moderation-filters .form-actions a:focus {
  border: 2px solid var(--cd-reliefweb-brand-grey--dark);
  outline: none;
}
/**
 * Result list.
 *
 * List of results below the filter section.
 */
.rw-moderation-list {
  margin-top: 16px;
  padding: 32px 0;
}
/* Hide visually the list title to reduce scrolling. */
.rw-moderation-list > h3 {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: none;
  clip-path: inset(100%);
}
.rw-moderation-content__total-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 24px;
  margin: 0 0 24px 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
}
.rw-moderation-content__total-list span {
  display: block;
  font-size: 14px;
  line-height: 1.2;
}
.rw-moderation-content__total-list [data-moderation-status] {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 8px 0;
  text-transform: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-left: none;
  background: none;
  font-weight: normal;
}
.rw-moderation-content__total-list [data-moderation-status] strong {
  margin-top: 8px;
}
.rw-moderation-list td .rw-moderation-status[data-moderation-status] {
  margin: 12px 0 0 0;
  padding: 6px;
  font-size: 12px;
}
.rw-moderation-list .rw-moderation-table tr td:first-child {
  text-align: center;
}
.rw-moderation-list .rw-moderation-table tr td:nth-child(2) {
  width: 100%;
  word-break: break-word;
}
.rw-moderation-list .rw-moderation-table tr td:nth-child(2) div + div {
  margin-top: 4px;
}
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__title {
  font-size: 16px;
  font-weight: bold;
}
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__embargo-date {
  font-size: 14px;
  font-style: italic;
}
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__embargo-date em {
  font-weight: bold;
}
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__info {
  font-size: 15px;
}
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__info .rw-moderation-table__cell__info__country a,
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__info .rw-moderation-table__cell__info__source a {
  color: var(--cd-reliefweb-brand-grey--dark);
  font-weight: bold;
}
.rw-moderation-list .rw-moderation-table__cell__bury {
  margin-top: 12px;
  text-align: center;
  font-size: 15px;
}
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__details,
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__revision {
  font-size: 14px;
}
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__details__closing-date,
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__details__registration-deadline,
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__details__training-date,
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__details__cost {
  font-weight: bold;
}
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__details__closing-date em,
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__details__registration-deadline em,
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__details__training-date em,
.rw-moderation-list .rw-moderation-table .rw-moderation-table__cell__details__cost em {
  font-weight: normal;
}
.rw-moderation-list .rw-moderation-table__cell__date {
  text-align: center;
  white-space: pre;
  font-size: 15px;
}
.rw-moderation-list .rw-moderation-table__header--sort--asc:after,
.rw-moderation-list .rw-moderation-table__header--sort--desc:after {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  content: "";
  vertical-align: middle;
  background: var(--rw-icons--toggle--up--12--dark-blue);
}
.rw-moderation-list .rw-moderation-table__header--sort--desc:after {
  background: var(--rw-icons--toggle--down--12--dark-blue);
}
.rw-moderation-list .pager {
  padding-top: 0;
  border-top: none;
}

.rw-moderation-filters--user-posts .rw-moderation-intro {
  padding-bottom: 24px;
  text-align: center;
  border-bottom: 1px solid var(--cd-reliefweb-brand-grey--light);
}

/* Display "other" filters on separate lines. */
.rw-moderation-filters--user-posts .rw-moderation-filter-other .fieldset-wrapper > fieldset + fieldset {
  display: block;
  margin-top: 24px;
}
/* User posts type column */
.rw-moderation-list--user-posts .rw-moderation-table tr td:nth-child(2) {
  width: auto;
  word-break: unset;
}
/* User posts source list */
.rw-moderation-list--user-posts .rw-moderation-table ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* User posts status column */
.rw-moderation-list--user-posts td .rw-moderation-status[data-moderation-status] {
  margin: 0;
}
/* User posts posted and deadline date columns */
.rw-moderation-list--user-posts .rw-moderation-table .rw-moderation-table__cell__date,
.rw-moderation-list--user-posts .rw-moderation-table tr td:last-child {
  text-align: center;
  white-space: unset;
  font-size: 15px;
}
/* Prevent the Sortable icon from break to a new line */
.rw-moderation-list--user-posts .rw-moderation-table .rw-moderation-table__header--date {
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .rw-moderation-list--user-posts .rw-moderation-table .rw-moderation-table__cell__date,
  .rw-moderation-list--user-posts .rw-moderation-table tr td:last-child {
    white-space: nowrap;
  }
}
