@media screen and (min-width : 768px) {
  #main-content section.rw-river-page .rw-advanced-search {
    float: left;
    width: 300px;
  }
  /*#main-content section.rw-river-page .rw-river-results,*/
  #main-content section.rw-river-page .rw-river {
    float: right;
    width: calc(100% - 340px);
  }
  /* Clear the floating above. */
  #main-content section.rw-river-page #list:after {
    content: "";
    display: block;
    clear: both;
  }
}
@media screen and (min-width : 1024px) {
  #main-content section.rw-river-page .rw-advanced-search {
    width: 320px;
  }
  /*#main-content section.rw-river-page .rw-river-results,*/
  #main-content section.rw-river-page .rw-river {
    width: calc(100% - 360px);
  }
}
