/**
 * River results.
 */
.rw-river-results {
  width: 100%;
  text-align: center;
}
.rw-river-results span {
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .rw-river-results {
    padding: 13px 0;
    text-align: left;
    border-bottom: 1px solid #e6ecef;
  }
}

.rw-search-results__totals {
  width: 100%;
  text-align: center;
}
.rw-search-results__totals ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.rw-search-results__totals li {
  float: left;
  margin: 8px;
}
.rw-search-results__totals li a {
  display: block;
  padding: 12px 24px;
  border-radius: 6px;
  background: #e6ecef;
  font-size: 17px;
  font-weight: bold;
}
.rw-search-results__totals li:last-child {
  margin-right: 0;
}
.rw-search-results section > h2 {
  margin-bottom: 16px;
  padding-left: 8px;
  border-left: 8px solid #0988bb;
}
.rw-search-results section > h2 + p {
  margin: 0 0 8px 0;
}
.rw-search-results section + section {
  margin-top: 24px;
}
.rw-search-results h3 {
  margin: 0 0 8px 0;
}
