/**
 * Spacing when there is content before the search bar.
 */
.rw-river-page--with-pre-content .rw-river-search {
  margin-top: 32px;
}

/**
 * 2 columns layout on tablet/desktop for rivers with advanced search.
 */
@media screen and (min-width: 768px) {
  .rw-river-page--with-advanced-search .rw-advanced-search {
    float: left;
    width: 300px;
  }
  .rw-river-page--with-advanced-search .rw-river--river-list {
    float: right;
    width: calc(100% - 340px);
  }
  /* Clear the floating above. */
  .rw-river-page--with-advanced-search #list:after {
    display: block;
    clear: both;
    content: "";
  }
}

@media screen and (min-width: 1024px) {
  .rw-river-page--with-advanced-search .rw-advanced-search {
    width: 320px;
  }
  .rw-river-page--with-advanced-search .rw-river--river-list {
    width: calc(100% - 360px);
  }
}
