/**
 * River results.
 */
.rw-river-results {
  width: 100%;
  text-align: center;
}
.rw-river-results span {
  font-weight: bold;
}

.rw-river-results {
  padding: 13px 0 0;
}
@media all and (min-width: 768px) {
  .rw-river-results {
    padding: 13px 0;
    text-align: left;
    border-bottom: 1px solid #e6ecef;
  }
}
