{#

/**
 * @file
 * Template for the ReliefWeb Homepage.
 *
 * Available variables:
 * - sections: list of sections for the page. Each section is a render array.
 */

#}

{{ attach_library('common_design_subtheme/rw-homepage') }}

<div class="rw-homepage-sections">
  {{ sections }}
</div>
