{#

/**
 * @file
 * Template for the ReliefWeb Homepage.
 *
 * Available variables:
 * - attributes: wrapper attributes
 * - sections: list of sections for the page. Each section is a render array.
 */

#}
<div{{ attributes.addClass('rw-homepage-sections') }}>
  {{ sections }}
</div>
