{#

/**
 * @file
 * Footer template for the notifications.
 *
 * Available variables are:
 * - $prefooter: string for prefooter.
 */

#}
  {% if prefooter %}
  <div class="prefooter">
    {{ prefooter|raw }}
  </div>
  {% endif %}

  <div class="footer">
    <a class="footer-link" href="{{ url('<front>') }}">Feedback</a> | <a class="footer-link" href="%unsubscribe%">Unsubscribe</a>

    <div>&copy; {{ 'now'|date('Y') }} ReliefWeb</div>
  </div>
</div>
