/**
 * Document page specifics.
 *
 * Individual document pages like reports, jobs or training.
 *
 * Scope: .rw-document
 */
.rw-document {
  display: flex;
  flex-wrap: wrap;
  border-bottom: none;
  padding: 0;
}
/* Clear any floating from the content. */
.rw-document:after {
  content: "";
  clear: both;
  display: block;
  width: 100%;
}
.rw-document > header {
  width: 100%;
  margin: 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #eb1405;
}
.rw-document > header h2 {
  margin: 0 0 8px 0;
}
.rw-document figure {
  margin: 0 0 16px 0;
}
.rw-document figure img {
  display: block;
  width: 100%;
}
.rw-document figure figcaption {
  padding-top: 4px;
  font-size: 15px;
  font-style: italic;
  line-height: 1.5;
}
.rw-document > .rw-article__content {
  padding: 24px 0 24px 0;
}

.rw-document > footer {
  width: 100%;
  margin: 0;
  padding: 24px 0 0 0;
  border-color: #e6ecef;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.rw-document dl.rw-entity-meta dd {
  font-size: 16px;
}

/* Entity details in the sidebar/footer */
#main-content .rw-document .rw-entity-details dl.rw-entity-meta dt {
  margin: 16px 0 0 0;
}
#main-content .rw-document.rw-entity-details dl.rw-entity-meta dt:first-of-type {
  margin: 0;
}
#main-content .rw-document .rw-entity-details dl.rw-entity-meta dd {
  clear: both;
}
#main-content .rw-document .rw-entity-details dl.rw-entity-meta dd li:after {
  content: " / ";
  margin: 0 4px;
}
#main-content .rw-document .rw-entity-details dl.rw-entity-meta dd li:last-child:after,
#main-content .rw-document .rw-entity-details dl.rw-entity-meta dd li[data-last]:after {
  content: "";
}

@media screen and (min-width: 768px) {
  .rw-document > .rw-article__content {
    float: left;
    width: 70%;
    padding-right: 24px;
  }
  .rw-document > footer {
    float: right;
    width: 30%;
    margin: 0;
    padding: 24px 0;
    border-width: 0 0 0 1px;
  }
  .rw-document > footer > * {
    padding-left: 24px;
  }
}
