/**
 * Document page specifics.
 *
 * Individual document pages like reports, jobs or training.
 */
.rw-document {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border-bottom: none;
}
/* Clear any floating from the content. */
.rw-document:after {
  display: block;
  clear: both;
  width: 100%;
  content: "";
}
.rw-document .rw-article__header {
  width: 100%;
}
.rw-document figure {
  margin: 0 0 16px 0;
}
.rw-document figure img {
  display: block;
  width: 100%;
}
.rw-document figure figcaption,
.rw-document figure footer {
  padding-top: 4px;
  font-size: 15px;
  font-style: italic;
  line-height: 1.5;
}
.rw-document figure footer small {
  font-size: inherit;
}

.rw-document > .rw-article__content {
  padding: 24px 0 24px 0;
}
.rw-document .rw-article__content section {
  padding-top: 24px;
}
.rw-document > footer {
  width: 100%;
  margin: 0;
  padding: 24px 0 0 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--cd-reliefweb-brand-grey--light);
}

/* Entity details in the sidebar/footer */
.rw-document .rw-entity-details dl.rw-entity-meta dt {
  margin: 16px 0 0 0;
}
.rw-document > footer dl.rw-entity-meta dt:first-of-type {
  margin: 0;
}
.rw-document > footer dl.rw-entity-meta dd {
  clear: both;
}
.rw-document > footer dl.rw-entity-meta dd li:after {
  margin: 0 4px;
  content: " / ";
}
.rw-document > footer dl.rw-entity-meta dd li:last-child:after,
.rw-document > footer dl.rw-entity-meta dd li.rw-entity-meta__tag-value__list__item--last:after {
  margin: 0;
  content: "";
}
.rw-entity-details dl.rw-entity-meta.rw-article-meta dd::after {
  content: none;
}
/* Hide format icons */
.rw-document > footer .rw-entity-meta__tag-value:before {
  content: none;
}

@media screen and (min-width: 768px) {
  .rw-document > .rw-article__content {
    float: left;
    width: 70%;
    padding-right: 24px;
  }
  .rw-document > footer {
    float: right;
    width: 30%;
    margin: 0;
    padding: 24px 0;
    border-width: 0 0 0 1px;
  }
  .rw-document > footer > * {
    padding-left: 24px;
  }
}

/* Ensure long URLs in WYSIWYG wrap */
.rw-article__content a {
  overflow-wrap: anywhere;
}

.rw-article__content ul {
  margin: 0;
  padding: 0 0 0 32px;
  list-style-position: outside;
}
.rw-article__content li {
  margin: 8px 0 0 0;
  padding: 0;
}
.rw-article__content li:first-child {
  margin: 0;
}
.rw-article__content ul + h2 {
  margin-top: 24px;
}

/* Training and Job Headings */
.rw-how-to-apply__title,
.rw-fee-information__title {
  padding-left: 8px;
  border-left: 8px solid var(--cd-reliefweb-brand-blue);
}

/* RW-599: Style direct links to log in with HID on book pages to look like
 * a button like it was on the RW7 site. */
.rw-document.rw-article--book .rw-article__content a[href*="/user/login/hid"] {
  display: inline-block;
  margin: 1rem 0 0 0;
  padding: 12px 18px;
  color: white;
  border: none;
  border-radius: 3px;
  background: var(--cd-reliefweb-brand-blue--dark);
  font-weight: bold;
}
.rw-document.rw-article--book .rw-article__content a[href*="/user/login/hid"]:hover,
.rw-document.rw-article--book .rw-article__content a[href*="/user/login/hid"]:focus,
.rw-document.rw-article--book .rw-article__content a[href*="/user/login/hid"]:active {
  background: var(--cd-reliefweb-brand-red--dark);
}
