.rw-entity-description {
  display: flex;
  flex-direction: column;
}
.rw-entity-description .rw-entity-description__text {
  padding-top: 0;
}
.rw-entity-description .rw-entity-description__text p:first-child {
  margin-top: 0;
}
.rw-entity-description ul {
  margin: 0;
  padding: 0 0 0 32px;
  list-style-position: outside;
}
.rw-entity-description li {
  margin: 8px 0 0 0;
  padding: 0;
}
.rw-entity-description li:first-child {
  margin: 0;
}

/* Javascript enabled */
.js .rw-entity-description button {
  display: block;
  order: 3;
  margin: 24px auto 0 auto;
  padding: 8px 12px;
  color: #055372;
  border: 1px solid #055372;
  background: white;
  font-size: 16px;
  fill: #055372;
}
.js .rw-entity-description button svg {
  fill: currentColor;
}
.js .rw-entity-description button:hover,
.js .rw-entity-description button:active,
.js .rw-entity-description button:focus {
  color: white;
  background: #055372;
}
/* Overrides the default behavior when data-cd-hidden is set as the description
 * is always displayed, only the number of paragraphs changes. */
.js .rw-entity-description .rw-entity-description__text[data-cd-hidden] {
  display: block;
}
.js .rw-entity-description .rw-entity-description__text > * {
  display: none;
}
.js .rw-entity-description .rw-entity-description__text > *:nth-last-child(-n+3) {
  display: block;
}
.js .rw-entity-description .rw-entity-description__text > *:nth-last-child(3) {
  margin-top: 0;
}
.js .rw-entity-description .rw-entity-description__text[data-cd-hidden="false"] > * {
  display: block;
}
/* Exception for sources, where we start at the top of the rw-entity-description. */
.js .taxonomy-term--source--full.rw-sectioned-content section.rw-entity-description .rw-entity-description__text > * {
  display: none;
}
.js .taxonomy-term--source--full.rw-sectioned-content section.rw-entity-description .rw-entity-description__text > *:nth-child(-n+3) {
  display: block;
}
.js .taxonomy-term--source--full.rw-sectioned-content section.rw-entity-description .rw-entity-description__text[data-cd-hidden="false"] > * {
  display: block;
}
