/**
 * Topic forms.
 *
 * Styling for the "river" section field on topic forms.
 *
 * Scope: .field--type-reliefweb-section-links
 */
.field--type-reliefweb-section-links table[data-list-archives][data-visible] tbody {
  background: var(--cd-reliefweb-grey--light--bg);
}
.field--type-reliefweb-section-links [data-link-form] {
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
}
.field--type-reliefweb-section-links tr[data-dragged] td {
  background-color: var(--cd-reliefweb-brand-grey--light);
}
/* Break link URLs in the section field table. */
.rw-section-links table a {
  word-break: break-word;
}
