.rw-entities-form-user-information__sources {
  display: flex;
  flex-wrap: wrap;
}
.rw-entities-form-user-information__sources ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.rw-entities-form-user-information__sources ul li {
  display: inline-block;
  margin-right: 4px;
}
.rw-entities-form-user-information__sources ul li:after {
  content: ", ";
}
.rw-entities-form-user-information__sources ul li:only-of-type,
.rw-entities-form-user-information__sources ul li:last-child {
  margin-right: 0;
}
.rw-entities-form-user-information__sources ul li:only-of-type:after,
.rw-entities-form-user-information__sources ul li:last-child:after {
  content: none;
}
.rw-entities-form-user-information__content {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
}
.rw-entities-form-user-information__content strong  {
  font-size: 15px;
  margin: 0 4px 0 0;
}
/**
 * User posting rights.
 *
 * Text showing the user posting rights for a source.
 */
.rw-entities-form-user-information .user-rights span {
  padding: 2px 4px;
  text-transform: uppercase;
  border: 1px solid #d9d9d9;
  background: rgba(217, 217, 217, 0.2);
  font-size: 10px;
  font-weight: bold;
  margin-left: 2px;
}
.rw-entities-form-user-information .user-rights .blocked {
  border-color: #da190b;
  background: rgba(218, 25, 11, 0.2);
}
.rw-entities-form-user-information .user-rights .unverified {
  border-color: #f49e2c;
  background: rgba(244, 158, 44, 0.2);
}
.rw-entities-form-user-information .user-rights .allowed {
  border-color: #076d96;
  background: rgba(7, 109, 150, 0.2);
}
.rw-entities-form-user-information .user-rights .trusted {
  border-color: #88bb09;
  background: rgba(136, 187, 9, 0.2);
}
#user-information .user-rights span {
  vertical-align: top;
}
