{#

/**
 * @file
 * Template for a user posting right.
 *
 * Available variables:
 * - attributes: wrapper attributes
 * - right: user posting right.
 */

#}
<span{{ attributes.setAttribute('data-user-posting-right', right) }}>{{ right }}</span>
