{#

/**
 * @file
 * Template for the moderation information on entity pages and forms.
 *
 * Available variables:
 * - status: asssociative array with the moderation status value and its label
 * - log: associative array with the type of log message (feedback or
 *   instruction) and the message.
 */

#}
<div class="rw-modetation-information">
  <div class="rw-modetation-information__status rw-moderation-status" data-moderation-status="{{ status.value }}">{{ status.label }}</div>
  {% if log.message is not empty %}
  <div class="rw-modetation-information__log rw-revision-message" data-revision-message="{{ log.type }}">{{ log.message }}</div>
  {% endif %}
</div>
