/**
 * Article country information.
 *
 * Country prefix above article title.
 */
.rw-entity-country-slug {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  margin: 4px 8px 0 0;
  padding: 0 12px;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--cd-reliefweb-dark-grey);
  background: var(--cd-reliefweb-light-grey);
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.rw-entity-country-slug--above {
  margin: 0 0 16px 0;
  padding: 3px 8px;
  font-size: 15px;
  line-height: 1.6;
}
.rw-entity-country-slug a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}
.rw-entity-country-slug span {
  color: inherit;
  font-weight: normal;
}
.rw-entity-country-slug a:hover,
.rw-entity-country-slug a:focus,
.rw-entity-country-slug a:active {
  text-decoration: underline;
}

/* Hide country slug on Country pages */
.taxonomy-term--country--full .rw-entity-country-slug {
  display: none;
}
