.cd-soft-footer::before {
  background: var(--brand-primary);
}

.cd-soft-footer .visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

/* Set colour despite being visually hidden so it passes WCAG AA */
.cd-soft-footer h2.visually-hidden,
.cd-soft-footer label.visually-hidden {
  color: var(--brand-primary);
}

.cd-soft-footer .mc-field-group {
  display: flex;
  flex-direction: column;
}

.cd-soft-footer .cd-button {
  margin-top: 0.5rem;
  padding: 10px 12px;
  text-transform: uppercase;
  color: var(--cd-white);
  background: var(--brand-highlight);
  font-weight: 700;
}

.cd-soft-footer label {
  margin: 0;
  padding: 10px 12px 10px 0;
  text-align: left;
  color: var(--cd-white);
}

.cd-soft-footer__inner input[type="email"] {
  width: auto;
  padding: 10px 12px;
  color: var(--cd-default-text-color);
}

.cd-soft-footer .cd-button:hover,
.cd-soft-footer .cd-button:focus {
  background: var(--brand-primary);
}

.cd-soft-footer input:focus,
.cd-soft-footer .cd-button:focus {
  outline: 3px solid var(--brand-primary--light);
  outline-offset: -2px;
}

@media (min-width: 576px) {
  .cd-soft-footer .mc-field-group {
    flex-direction: row;
  }
  .cd-soft-footer .cd-button {
    margin-top: 0;
  }
}
