/**
 * Country/disaster profile forms.
 *
 * This is the form to manage the country and disaster profiles (overview, key
 * content, appeals and response plans and useful links).
 *
 * Scope: .field--type-reliefweb-links
 */
.field--type-reliefweb-links table {
  width: 100%;
}
.field--type-reliefweb-links table[data-list-archives] tbody {
  display: none;
  overflow-y: auto;
  max-height: 400px;
}
.field--type-reliefweb-links table[data-list-archives][data-visible] tbody {
  display: table-row-group;
  background: #e6ecef;
  /* #e6ecef with a 0.3 opacity. */
  background: rgba(230, 236, 239, 0.3);
}
.field--type-reliefweb-links [data-link-form] {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #e6ecef;
}
.field--type-reliefweb-links [data-link-form] label {
  display: block;
  margin-bottom: 8px;
}
.field--type-reliefweb-links [data-link-form] label input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 4px;
}
.field--type-reliefweb-links fieldset[data-internal="true"] td img {
  display: inline-block;
  overflow: hidden;
  max-width: 35px;
  margin-right: 5px;
}
.field--type-reliefweb-links td img {
  max-width: 200px;
  max-height: 50px;
  vertical-align: middle;
}
.field--type-reliefweb-links td[data-link-form] {
  display: none;
}
.field--type-reliefweb-links [data-edited] td[data-link-form] {
  display: table-cell;
}
.field--type-reliefweb-links [data-edited] td[data-link-display] {
  display: none;
}
.field--type-reliefweb-links td:last-child {
  width: 90px;
  text-align: center;
}
.field--type-reliefweb-links button[value="other-actions"] ~ button {
  display: none;
}
.field--type-reliefweb-links button[value="other-actions"][data-toggled] ~ button {
  display: inline-block;
}
.field--type-reliefweb-links td[data-drag-handle] {
  width: 25px;
  padding: 12px;
  cursor: move;
  /* Simple icon reproducing the move cursor. */
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='14' height='14' fill='none' stroke='%23999' stroke-width='3'%3E%3Cpath d='M3 16L29 16M16 3L16 29M12 7L16 3 20 7M12 25L16 29 20 25M25 12L29 16 25 20M7 12L3 16 7 20'/%3E%3C/svg%3E") 50% 50% no-repeat;
}
.field--type-reliefweb-links tr[data-dragged] td {
  cursor: move;
  background-color: #e6ecef;
}
