/**
 * User posting rights form.
 *
 * This is the form used to manage user posting rights per organization.
 *
 * Scope: .field--type-reliefweb-user-posting-rights
 */
.field--type-reliefweb-user-posting-rights [data-filters],
.field--type-reliefweb-user-posting-rights [data-new-form] {
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
}
.field--type-reliefweb-user-posting-rights [data-job="0"] label.job span:after,
.field--type-reliefweb-user-posting-rights [data-training="0"] label.training span:after {
  background: var(--cd-reliefweb-orange);
}
.field--type-reliefweb-user-posting-rights [data-job="1"] label.job span:after,
.field--type-reliefweb-user-posting-rights [data-training="1"] label.training span:after {
  background: var(--cd-reliefweb-red);
}
.field--type-reliefweb-user-posting-rights [data-job="2"] label.job span:after,
.field--type-reliefweb-user-posting-rights [data-training="2"] label.training span:after {
  background: var(--cd-reliefweb-blue);
}
.field--type-reliefweb-user-posting-rights [data-job="3"] label.job span:after,
.field--type-reliefweb-user-posting-rights [data-training="3"] label.training span:after {
  background: var(--cd-reliefweb-green);
}
.field--type-reliefweb-user-posting-rights ul {
  border-top: 1px solid var(--cd-reliefweb-brand-grey--light);
}
.field--type-reliefweb-user-posting-rights ul li {
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
  border-top: none;
}
.field--type-reliefweb-user-posting-rights ul li div button {
  background: var(--cd-reliefweb-brand-blue--dark);
}
.field--type-reliefweb-user-posting-rights ul li div button:hover,
.field--type-reliefweb-user-posting-rights ul li div button:focus,
.field--type-reliefweb-user-posting-rights ul li div button:active {
  background: var(--cd-reliefweb-brand-red--dark);
}
.field--type-reliefweb-user-posting-rights li[data-modified] {
  border-left: 4px solid #055372;
}
.field--type-reliefweb-user-posting-rights li[data-status="blocked"] {
  border-left: 4px solid var(--cd-reliefweb-red);
  background: var(--cd-reliefweb-brand-grey--light);
}
