/**
 * Announcement.
 *
 * Communication banner (ex: event from partner like World Humanitarian Day).
 *
 */
.rw-homepage-announcement a {
  display: block;
}
/* Hide the external link icon. */
.rw-homepage-announcement a[target="_blank"][rel="noopener"]:after {
  display: none;
}
.rw-homepage-announcement a:hover,
.rw-homepage-announcement a:active,
.rw-homepage-announcement a:focus {
  outline: 4px solid var(--cd-reliefweb-blue);
}
.rw-homepage-announcement img {
  display: block;
  width: 100%;
  max-width: 750px;
  max-height: 250px;
  margin: 0 auto;
}
