/**
 * Announcement.
 *
 * Communication banner (ex: event from partner like World Humanitarian Day).
 *
 * Id: #announcement
 *
 * Scope: .path-frontpage #main-content
 */
.path-frontpage #main-content #announcement a {
  display: block;
}
/* Hide the external link icon. */
.path-frontpage #main-content #announcement a[target="_blank"][rel="noopener"]:after {
  display: none;
}
.path-frontpage #main-content #announcement a:hover,
.path-frontpage #main-content #announcement a:active,
.path-frontpage #main-content #announcement a:focus {
  outline: 4px solid #0988bb;
}
.path-frontpage #main-content #announcement img {
  display: block;
  width: 100%;
  max-width: 750px;
  max-height: 250px;
  margin: 0 auto;
}
