/**
 * Site slogan.
 */
.cd-header #site-slogan {
  min-height: 50px;
  margin: 0;
  padding: 0;
  /* #2e3436 with 0.7 opacity on white. */
  color: rgba(var(--cd-rgb-reliefweb-brand-grey--dark), 0.7);
  color: white; /* TEMPORARY - COVID-19 */
  /* #e6ecef with 0.4 opacity on white. */
  background: rgba(var(--cd-rgb-reliefweb-brand-grey--light), 0.4);
  background: var(--cd-reliefweb-brand-grey--dark); /* TEMPORARY - COVID-19 */
  font-size: 16px;
}
.cd-header #site-slogan a {
  color: rgba(var(--cd-rgb-reliefweb-brand-grey--dark), 0.7);
  color: white; /* TEMPORARY - COVID-19 */
}
.cd-header #site-slogan .cd-container {
  display: table;
  text-align: center;
}
.cd-header #site-slogan .cd-container > span {
  /* This is to center vertically the text while staying within the defined
   * 50px height. */
  display: table-cell;
  height: 50px;
  vertical-align: middle;
  /* This gives a better alignment with the OCHA logo which has a height of
   * 20px. */
  line-height: 20px;
}

@media all and (min-width: 767px) {
  .cd-header #site-slogan .cd-container > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
/* Do not wrap the "a service provided by OCHA" line. */
.cd-header #site-slogan span > span {
  white-space: nowrap;
}
.cd-header #site-slogan span.ocha {
  position: relative;
  display: inline-block;
  width: 81px;
  height: 20px;
  content: "";
  text-align: left;
}
/* Logo displayed on top of the UN OCHA text. */
.cd-header #site-slogan span.ocha:after {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 81px;
  height: 20px;
  content: "";
  background: url(../../img/logos/ocha-logo-sprite.png) 0 -37px no-repeat;
  background: rgba(0, 0, 0, 0) url(../../img/logos/ocha-logo-sprite.svg) 0 -37px no-repeat;
}
/* Reduce the size so that it looks better when the lines wrap. */
@media all and (max-width: 767px) {
  .cd-header #site-slogan {
    font-size: 15px;
  }
}

@media all and (max-width: 479px) {
  .cd-header #site-slogan {
    font-size: 14px;
  }
}
